<h1 mat-dialog-title id="title" >{{data.title}}</h1>
<div class="row">
  <div class="-align-left">
    <div>LaTeX packages</div>
    <mat-card class="text-container">
      <label>
        <textarea class="packages-container" [(ngModel)]="latexPackages" matInput></textarea>
      </label>
    </mat-card>
    <div>LaTeX content</div>
    <mat-card class="text-container">
      <label>
        <textarea class="latex-container" [(ngModel)]="latexRenderText" matInput></textarea>
      </label>
    </mat-card>
  </div>
  <div class="-align-right">
    <div>Rendering result</div>
    <mat-card class="text-container -align-right" *ngIf="urlToRenderedPdfBlob !== ''">
        <label>
          <pdf-viewer *ngIf="urlToRenderedPdfBlob" [src]="urlToRenderedPdfBlob" [render-text]="true" style="display: block"></pdf-viewer>
        </label>
    </mat-card>
    <mat-card>
      <div class="align-bottom">
        <button floating type="button" mdbBtn class="waves-effect" mdbWavesEffect (click)="onGenerateLatex()">Generate</button>
      </div>
      <div class="align-bottom">
        <button floating type="button" mdbBtn class="waves-effect" mdbWavesEffect (click)="dialogRef.close(latexRenderText)">Close</button>
      </div>
    </mat-card>
  </div>
</div>
