<mat-dialog-content class="dialog-container">
  <h1 mat-dialog-title id="title" >{{data.title}}</h1>
  <mat-card class="card-container">
    <div>Default LaTeX packages:</div>
    <div *ngFor="let defaultPackage of defaultLatexPackages">
      <mat-label style="font-weight: bold">{{defaultPackage}}</mat-label>
    </div>
  </mat-card>
  <mat-card class="card-container">
    <mat-form-field class="content-container">
      <mat-label class="input-label">Additional LaTeX packages</mat-label>
      <textarea
        class="content-container"
        [(ngModel)]="latexPackages"
        [matAutosizeMaxRows]="3"
        [matAutosizeMinRows]="2"
        [matTextareaAutosize]="true"
        matInput
      ></textarea>
    </mat-form-field>
  </mat-card>
  <mat-card class="card-container">
    <mat-form-field class="content-container">
      <mat-label class="input-label">LaTeX content</mat-label>
      <textarea
        class="content-container"
        [(ngModel)]="inputText"
        [matAutosizeMaxRows]="5"
        [matAutosizeMinRows]="2"
        [matTextareaAutosize]="true"
        matInput
      ></textarea>
    </mat-form-field>
  </mat-card>
  <mat-card class="card-container">
    <mat-label class="input-label">Rendered result</mat-label>
    <pdf-viewer *ngIf="urlToRenderedPdfBlob" [src]="urlToRenderedPdfBlob" [render-text]="true" style="display: block"></pdf-viewer>
  </mat-card>
  <mat-card class="card-container">
    <button color="red" outline="true" type="button" mdbBtn class="control-button cancel-button" (click)="dialogRef.close()">Cancel</button>
    <button color="green" outline="true" type="button" mdbBtn class="control-button submit-button" (click)="onSubmit()">Submit</button>
    <button color="darkorange" outline="true" type="button" mdbBtn class="control-button preview-button" (click)="onGenerateLatex()">Preview</button>
  </mat-card>
</mat-dialog-content>
