@import "theme";

.dialog-container {
  background: rgba(mat-color($qc-atlas-ui-accent), 0.20);
  margin: 0;
}

.card-container {
  margin: 10px;
  width: auto;
  border: lightgray;
  color: rgba(0, 0, 0, 0.54);
}

.text-container {
  width: 450px;
  border-style: solid;
  border-width: thin;
  margin: 5px;
}

.packages-container {
  height: 100px;
}

.latex-container {
  height: 300px;
}

.control-button {
  vertical-align: bottom;
  margin: 5px;
}

.control-button:hover {
  color: white !important;
}

.preview-button:hover {
  background-color: darkorange !important;
}

.submit-button:hover {
  background-color: green !important;
}

.cancel-button:hover {
  background-color: red !important;
}
