<div>
  <mat-card id="title-container">
    <h1 mat-dialog-title id="title" >{{data.title}}</h1>
  </mat-card>
  <div class="mx-3 mb-2">
    <app-table [data]=data.linkObject.data
               [disabledData]=data.linkObject.linkedData
               [variableNames]=data.variableNames
               [dataColumns]=data.tableColumns
               [allowAdd]=false
               [allowDelete]=false
               [allowLink]=true
               [allowSearch]=true
               [allowSort]=true
               [smallTable]=true
               [pagination]=data.pagingInfo
               [paginatorConfig]=data.paginatorConfig
               (elementClicked)="onElementClicked.emit($event)"
               (submitLinkElements)="onLinkElements($event)"
               (datalistConfigChanged)="onDataListConfigChanged.emit($event)"
               (pageChange)="onPageChanged.emit($event)">
    </app-table>
  </div>
  <mat-divider></mat-divider>
  <div mat-dialog-actions class="d-flex">
    <button type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect
            (click)="onNoClick()">{{data.noButtonText}}</button>
  </div>
</div>
