<mat-card class="m-2">
    <div class="mx-3 mb-2">
        <div class="btn-wrapper">
            <button
                    mat-raised-button
                    type="Compilation"
                    color="primary"
                    class="btn-compile"
                    (click)="onAddElement()"
            >
                New Compilation
            </button>
            <h3 *ngIf = "notReadycompilationJobsMap.size > 0"> Jobs running in background : </h3>  
                <ul class="not-ready-job-list" *ngFor = "let job of notReadycompilationJobsMap | keyvalue">
                    <li> JobID: {{job.key}}, Backend name: {{job.value}}</li>
                  </ul>
        </div>
        <table
                mat-table
                [dataSource]="compilerResults$ | async"
                matSort
                multiTemplateDataRows
                (matSortChange)="changeSort($event.active, $event.direction)"
        >
            <ng-container matColumnDef="qpu">
                <th class="value-column" mat-header-cell *matHeaderCellDef mat-sort-header>
                    QPU
                </th>
                <td class="value-column" mat-cell *matCellDef="let element">
                    {{ element.qpu }}
                </td>
            </ng-container>

            <ng-container matColumnDef="provider">
                <th class="value-column" mat-header-cell *matHeaderCellDef mat-sort-header>
                    Vendor
                </th>
                <td class="value-column" mat-cell *matCellDef="let element">
                    {{ element.provider }}
                </td>
            </ng-container>

            <ng-container matColumnDef="compiler">
                <th class="value-column" mat-header-cell *matHeaderCellDef mat-sort-header>
                    Compiler
                </th>
                <td class="value-column" mat-cell *matCellDef="let element">
                    {{ element.compiler }}
                </td>
            </ng-container>

            <ng-container matColumnDef="analyzedDepth">
                <th class="value-column" mat-header-cell *matHeaderCellDef mat-sort-header>
                    Depth
                </th>
                <td class="value-column" mat-cell *matCellDef="let element">
                    {{ element.analyzedDepth }}
                </td>
            </ng-container>

            <ng-container matColumnDef="analyzedWidth">
                <th class="value-column" mat-header-cell *matHeaderCellDef mat-sort-header>
                    Width
                </th>
                <td class="value-column" mat-cell *matCellDef="let element">
                    {{ element.analyzedWidth }}
                </td>
            </ng-container>

            <ng-container matColumnDef="analyzedMultiQubitGateDepth">
                <th class="value-column" mat-header-cell *matHeaderCellDef mat-sort-header>
                    Multi-Qubit Gate Depth
                </th>
                <td class="value-column" mat-cell *matCellDef="let element">
                    {{ element.analyzedMultiQubitGateDepth }}
                </td>
            </ng-container>

            <ng-container matColumnDef="analyzedTotalNumberOfOperations">
                <th class="value-column" mat-header-cell *matHeaderCellDef mat-sort-header>
                    Total Number of Operations
                </th>
                <td class="value-column" mat-cell *matCellDef="let element">
                    {{ element.analyzedTotalNumberOfOperations }}
                </td>
            </ng-container>

            <ng-container matColumnDef="analyzedNumberOfSingleQubitGates">
                <th class="value-column" mat-header-cell *matHeaderCellDef mat-sort-header>
                    Number of Single-Qubit Gates
                </th>
                <td class="value-column" class="value-column" mat-cell *matCellDef="let element">
                    {{ element.analyzedNumberOfSingleQubitGates }}
                </td>
            </ng-container>

            <ng-container matColumnDef="analyzedNumberOfMultiQubitGates">
                <th class="value-column" mat-header-cell *matHeaderCellDef mat-sort-header>
                    Number of Multi-Qubit Gates
                </th>
                <td class="value-column" mat-cell *matCellDef="let element">
                    {{ element.analyzedNumberOfMultiQubitGates }}
                </td>
            </ng-container>

            <ng-container matColumnDef="analyzedNumberOfMeasurementOperations">
                <th class="value-column" mat-header-cell *matHeaderCellDef mat-sort-header>
                    Number of Measurement Operations
                </th>
                <td class="value-column" mat-cell *matCellDef="let element">
                    {{ element.analyzedNumberOfMeasurementOperations }}
                </td>
            </ng-container>

            <ng-container matColumnDef="avgSingleQubitGateError">
                <th class="value-column" mat-header-cell *matHeaderCellDef mat-sort-header>
                    Avg. Single-Qubit Gate Error
                </th>
                <td class="value-column" mat-cell *matCellDef="let element">
                    {{ element.avgSingleQubitGateError }}
                </td>
            </ng-container>

            <ng-container matColumnDef="avgMultiQubitGateError">
                <th class="value-column" mat-header-cell *matHeaderCellDef mat-sort-header>
                    Avg. Multi-Qubit Gate Error
                </th>
                <td class="value-column" mat-cell *matCellDef="let element">
                    {{ element.avgMultiQubitGateError }}
                </td>
            </ng-container>

            <ng-container matColumnDef="avgSingleQubitGateTime">
                <th class="value-column" mat-header-cell *matHeaderCellDef mat-sort-header>
                    Avg. Single-Qubit Gate Time (ns)
                </th>
                <td class="value-column" mat-cell *matCellDef="let element">
                    {{ element.avgSingleQubitGateTime }}
                </td>
            </ng-container>

            <ng-container matColumnDef="avgMultiQubitGateTime">
                <th class="value-column" mat-header-cell *matHeaderCellDef mat-sort-header>
                    Avg. Multi-Qubit Gate Time (ns)
                </th>
                <td class="value-column" mat-cell *matCellDef="let element">
                    {{ element.avgMultiQubitGateTime }}
                </td>
            </ng-container>

            <ng-container matColumnDef="avgReadoutError">
                <th class="value-column" mat-header-cell *matHeaderCellDef mat-sort-header>
                    Avg. Readout Error
                </th>
                <td class="value-column" mat-cell *matCellDef="let element">
                    {{ element.avgReadoutError }}
                </td>
            </ng-container>

            <ng-container matColumnDef="t1">
                <th class="value-column" mat-header-cell *matHeaderCellDef mat-sort-header>
                    Avg. T1 (ns)
                </th>
                <td class="value-column" mat-cell *matCellDef="let element">
                    {{ element.t1 === 0 ? '-' : element.t1 }}
                </td>
            </ng-container>

            <ng-container matColumnDef="t2">
                <th class="value-column" mat-header-cell *matHeaderCellDef mat-sort-header>
                    Avg. T2 (ns)
                </th>
                <td class="value-column" mat-cell *matCellDef="let element">
                    {{ element.t2 === 0 ? '-' : element.t2 }}
                </td>
            </ng-container>

            <ng-container matColumnDef="lengthQueue">
                <th class="value-column" mat-header-cell *matHeaderCellDef mat-sort-header>
                    Queue Size
                </th>
                <td class="value-column" mat-cell *matCellDef="let element">
                    {{ queueLengths[element.qpu] }}
                </td>
            </ng-container>

            <ng-container matColumnDef="time">
                <th class="value-column" mat-header-cell *matHeaderCellDef mat-sort-header>
                    Time
                </th>
                <td class="value-column" mat-cell *matCellDef="let element">
                    {{ element.time }}
                </td>
            </ng-container>

            <ng-container matColumnDef="execution">
                <th class="value-column" mat-header-cell *matHeaderCellDef>
                    Execution Result
                </th>
                <td class="value-column" mat-cell *matCellDef="let element">
                    <button
                            mat-raised-button
                            *ngIf="hasExecutionResult(element)"
                            type="button"
                            color="accent"
                            (click)="showExecutionResult(element)"
                    >
                        Show result
                    </button>
                    <button
                            mat-raised-button
                            *ngIf="!hasExecutionResult(element)"
                            type="button"
                            color="primary"
                            (click)="execute(element)"
                    >
                        Execute
                    </button>
                </td>
            </ng-container>

            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
                <td
                        mat-cell
                        *matCellDef="let element"
                        [attr.colspan]="analyzeColumns.length"
                >
                    <div class="element-detail" *ngIf="expandedElementMap.has(element)">
                        <ng-container *ngIf="expandedElementMap.get(element)">
                            <div>Status: {{ expandedElementMap.get(element).status }}</div>
                            <div>Result:</div>
                            <code>{{ expandedElementMap.get(element).result || 'n/a' }}</code>
                        </ng-container>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="analyzeColumns"></tr>
            <tr
                    mat-row
                    *matRowDef="let element; columns: analyzeColumns"
                    class="element-row"
            ></tr>
            <tr
                    mat-row
                    *matRowDef="let row; columns: ['expandedDetail']"
                    class="detail-row"
            ></tr>
        </table>
    </div>
</mat-card>
