:host {
  display: inline-block;
  min-width: 100%;
}

table {
  width: 100%;
}

table th.mat-header-cell:first-of-type, td.mat-cell:first-of-type {
  padding-left: 0;
}

th.mat-header-cell, td.mat-cell {
  padding: 10px;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
}

.element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.element-description {
  padding: 16px;
}

.element-description-attribution {
  opacity: 0.5;
}

.btn-wrapper {
  margin-top: 10px;
}

.btn-wrapper > button {
  margin-right: 10px;
  width: 15em;
}

.mat-raised-button {
  width: 10em;
}
