<mat-card class="m-2">
  <div class="mx-3 mb-2">
    <app-table
      [data]=displayedData
      [variableNames]=variableNames
      [dataColumns]=tableColumns
      [externalLinkVariables]=externalLinkVariables
      [allowAdd]=true
      [allowDelete]=true
      [allowSort]=true
      [emptyTableMessage]="'No linked cloud services found'"
      [pagination]=pagingInfo
      [paginatorConfig]=paginatorConfig
      (elementClicked)="routeToCloudService($event)"
      (urlClicked)="onUrlClicked($event)"
      (datalistConfigChanged)="getAllLinkedCloudServices($event)"
      (submitDeleteElements)="unlinkCloudServices($event)"
      (addElement)="openLinkCloudServiceDialog()"
      (pageChange)="getAllLinkedCloudServices($event)">
    </app-table>
  </div>
</mat-card>
