<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
    <form [formGroup]="implementationExecutionForm">
        <mat-form-field class="input-field" *ngIf="data.vendor === 'ibmq'">
            <mat-label>IBMQ Token</mat-label>
            <input type="password" id="ibmqToken" formControlName="ibmqToken" matInput>
        </mat-form-field>
        <mat-form-field class="input-field" *ngIf="data.vendor === 'ionq'">
            <mat-label>IonQ Token</mat-label>
            <input type="password" id="ionqToken" formControlName="ionqToken" matInput>
        </mat-form-field>
        <mat-form-field class="input-field" *ngIf="data.vendor === 'aws'">
            <mat-label>AWS Access Key</mat-label>
            <input type="password" id="awsToken" formControlName="awsToken" matInput>
        </mat-form-field>
        <mat-form-field class="input-field" *ngIf="data.vendor === 'aws'">
            <mat-label>AWS Secret Key</mat-label>
            <input type="password" id="awsSecretToken" formControlName="awsSecretToken" matInput>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data">Ok
    </button>
</div>

