<div *ngIf="algorithm" class="m-2">
  <div class="row p-2 m-0">
    <div class="col">
      <div class="float-left mx-2">
        <navigation-breadcrumb [links]="links"></navigation-breadcrumb>
          <mat-form-field *ngIf="generalTab" floatLabel="always" [matBadge]="revisionCounter.toString()" matBadgeOverlap="false" matBadgePosition="before" [matBadgeHidden]="revisionBadgeHidden" (click)="resetRevisionBadge()">
            <mat-label>Revision</mat-label>
            <mat-select (selectionChange)="getRevision($event.value)" [placeholder]="revisions[revisions.length - 1]?.creationDate">
              <mat-option *ngFor="let revision of revisions.slice(0,revisions?.length).reverse()" [value]="revision">
                {{revision.creationDate}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>
    </div>
    <div class="col">
      <div class="float-right mx-2 p-3">
        <app-tags-component
          [allowRemoving]="true"
          [tags]="tags"
          (onRemove)="removeTag($event)"
          (onAdd)="addTag($event)"
        >
        </app-tags-component>
      </div>
    </div>
  </div>

  <mat-tab-group (selectedIndexChange)="changeTab($event)">
    <mat-tab label="General">
      <app-algorithm-properties
        [frontendAlgorithm]="frontendAlgorithm"
        [algorithm]="algorithm"
        [linkedProblemTypes]="problemTypes"
        [linkedApplicationAreas]="applicationAreas"
        (updateAlgorithmField)="updateAlgorithmField($event)"
        (addApplicationArea)="addApplicationArea($event)"
        (removeApplicationArea)="removeApplicationArea($event)"
        (onAddProblemType)="addProblemType($event)"
        (onRemoveProblemType)="removeProblemTypeFromAlgorithm($event)"
      ></app-algorithm-properties>
      <button
        class="master-save-button"
        *ngIf="!guard.objectsEqual(frontendAlgorithm, algorithm)"
        mat-fab
        (click)="saveAlgorithm(frontendAlgorithm, true)"
      >
        <mat-icon class="master-save-icon">save</mat-icon>
      </button>
    </mat-tab>
    <mat-tab label="Implementations">
      <app-algorithm-implementations-list
        [algorithm]="algorithm"
      ></app-algorithm-implementations-list>
    </mat-tab>
    <mat-tab label="Related algorithms">
      <app-algorithm-related-algos-list
        [algorithm]="algorithm"
      ></app-algorithm-related-algos-list>
    </mat-tab>
    <mat-tab label="Related patterns">
      <app-algorithm-related-patterns
        [algorithm]="algorithm"
      ></app-algorithm-related-patterns>
    </mat-tab>
    <mat-tab label="Publications">
      <app-algorithm-publications-list
        [algorithm]="algorithm"
      ></app-algorithm-publications-list>
    </mat-tab>
    <mat-tab [hidden]="isNisqUsed" label="NISQ Analyzer">
      <app-algorithm-nisq-analyzer
        *ngIf="this.algorithm"
        [algo]="this.algorithm"
      ></app-algorithm-nisq-analyzer>
    </mat-tab>
    <mat-tab [hidden]="isNisqUsed" label="NISQ Results">
      <ng-template matTabContent>
        <app-algorithm-nisq-analyzer-results
          [algo]="this.algorithm"
        ></app-algorithm-nisq-analyzer-results>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
