@import "theme";

.clickable-chip {
  cursor: pointer;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.save-button {
  position: fixed;
  top: 50%;
  right: 15px;
  transition: transform 2s;
}

.save-button:hover {
  color: mat-color($qc-atlas-ui-primary);
  background-color: white;
}
