@import "theme";

.clickable-chip {
  cursor: pointer;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent;
}

.mat-button {
  background: #e0e0e0;
  border: none;
}
