:host ::ng-deep .mat-horizontal-stepper-header-container {
    display: none !important;
}

button.defineOwnPreferencesButton {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

mat-expansion-panel.advancedSettings {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

.waitingLearning {
    justify-content: center;
    align-items: center;
}

/* TODO(mdc-migration): The following rule targets internal classes of slider that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of slider that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of slider that may no longer apply for the MDC version. */
::ng-deep .mat-slider-wrapper {
    /* TODO(mdc-migration): The following rule targets internal classes of slider that may no longer apply for the MDC version. */
    /* TODO(mdc-migration): The following rule targets internal classes of slider that may no longer apply for the MDC version. */
    .mat-slider-thumb-container {
        /* TODO(mdc-migration): The following rule targets internal classes of slider that may no longer apply for the MDC version. */
        .mat-slider-thumb-label {
            width: 40px;
            height: 40px;
            top: -55px;
            right: -23px;
        }
    }
}

.lift-slider{
    min-width: 95px;
}


