<div *ngIf="prioritizationFrom">
    <h1 mat-dialog-title>{{data.title}}</h1>
    <div mat-dialog-content>
        <form [formGroup]="prioritizationFrom">
            <mat-form-field class="input-field">
                <mat-label>MCDA Method</mat-label>
                <mat-select formControlName="mcdaMethod" (selectionChange)="onMcdaMethodChanged($event.value)">
                    <mat-option [value]="'topsis'">TOPSIS</mat-option>
                    <mat-option [value]="'promethee-II'">PROMETHEE II</mat-option>
                    <mat-option [value]="'electre-III'">ELECTRE III</mat-option>
                </mat-select>
            </mat-form-field>
            <p>Assign points between 0 (low importance) and 100 (high importance) in the following to define the weighting of metrics.</p>
            <div formArrayName="criteriaAndValues">
                <div *ngFor="let criterion of criteriaNamesAndValues; let i = index" [formGroupName]="i">
                    <mat-form-field class="input-field">
                        <mat-label>{{ criterion.name }}</mat-label>
                        <input
                                matInput
                                required
                                type="number"
                                min="0"
                                max="100"
                                pattern="^$|^([0-9]|[1-9][0-9]|[1][0][0])?"
                                [placeholder]="criterion.name"
                                [formControlName]="criterion.name"
                                (change)="onChangeEvent()"
                        />
                        <mat-error>Please enter a value between 0 and 100</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-button [disabled]="prioritizationFrom.invalid" [mat-dialog-close]="data">Ok
        </button>
    </div>
</div>
