:host ::ng-deep .mat-horizontal-stepper-header-container {
    display: none !important;
}

button.defineOwnPreferencesButton {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

mat-expansion-panel.advancedSettings {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

.waitingLearning {
    justify-content: center;
    align-items: center;
}

::ng-deep .mat-slider-wrapper {

    .mat-slider-thumb-container {
        .mat-slider-thumb-label {
            width: 40px;
            height: 40px;
            top: -55px;
            right: -23px;
        }
    }
}

.lift-slider{
    min-width: 95px;
}


