<mat-card class="m-2">
  <div class="mx-3 mb-2">
    <app-table [data]=patternRelationTypes
               [variableNames]=variableNames
               [dataColumns]=tableColumns
               [allowAdd]=true
               [allowDelete]=true
               [allowSearch]=true
               [allowSort]=true
               [allowEdit]=true
               [pagination]=pagingInfo
               [paginatorConfig]=paginatorConfig
               [emptyTableMessage]="'No pattern relation types found'"
               (addElement)="onAddElement()"
               (submitDeleteElements)="onDeleteElements($event)"
               (updateClicked)="onEditElement($event)"
               (datalistConfigChanged)="getPatternRelationTypes($event)"
               (pageChange)="getPatternRelationTypes($event)">
    </app-table>
  </div>
</mat-card>
