<div>
    <app-select-input
            name="Library"
            [value]="library"
            [choices]="libraries$ | async"
            (onChange)="getLibrary($event)"
    ></app-select-input>
</div>
<mat-card class="m-2">
    <div class="mx-3 mb-2">
        <app-table [data]=entries
                   [variableNames]=variableNames
                   [dataColumns]=tableColumns
                   [allowAdd]=true
                   [allowDelete]="true"
                   [allowSearch]=true
                   [allowSort]=true
                   [emptyTableMessage]="'No algorithms found'"
                   (elementClicked)="onElementClicked($event)"
                   (addElement)="onAddElement()"
                   (submitDeleteElements)="onDeleteElements($event)">
        </app-table>
        <div
                *ngIf="loading"
                class="d-flex align-content-center justify-content-center"
        >
            <mat-spinner></mat-spinner>
        </div>
    </div>
</mat-card>
