<mat-card class="m-2">
  <div class="mx-3 mb-2">
    <app-table [data]=implementations
               [variableNames]=variableNames
               [dataColumns]=tableColumns
               [allowAdd]=true
               [allowDelete]="true"
               [pagination]=pagingInfo
               [paginatorConfig]=paginatorConfig
               [emptyTableMessage]="'No implementations for this algorithm found'"
               (addElement)="onAddImplementation()"
               (submitDeleteElements)="onDeleteImplementation($event)"
               (pageChange)="onDatalistConfigChanged($event)"
               (datalistConfigChanged)="onDatalistConfigChanged($event)"
               (elementClicked)="onImplementationClicked($event)">
    </app-table>
  </div>
</mat-card>
