<mat-card appearance="outlined" class="m-2">
  <div class="mx-3 mb-2">
    <app-table
      [data]=displayedData
      [variableNames]=variableNames
      [dataColumns]=tableColumns
      [allowAdd]=true
      [allowDelete]=true
      [allowSort]=true
      [emptyTableMessage]="'No linked compute resources found'"
      [pagination]=pagingInfo
      [paginatorConfig]=paginatorConfig
      (elementClicked)="routeToComputeResource($event)"
      (datalistConfigChanged)="getAllLinkedComputeResources($event)"
      (submitDeleteElements)="unlinkComputeResources($event)"
      (addElement)="openLinkComputeResourceDialog()"
      (pageChange)="getAllLinkedComputeResources($event)">
    </app-table>
  </div>
</mat-card>
