.header-container {
  padding: 0 16px;
}

.newsdkbutton{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 10%;
  padding-right: 15px;
}

.sdkselect{
  width: 90%;
  padding-left: 15px;
}
