<h2>Required information for the NISQ Analyzer</h2>
<div
  *ngIf="!nisqImpl"
  class="d-flex align-content-center justify-content-center"
>
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="nisqImpl">
  <mat-card class="m-4">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <app-text-input
          name="File Location"
          [value]="nisqImpl.fileLocation"
          (onChange)="nisqImpl.fileLocation = $event"
          (onSaveChanges)="saveImplementation()"
        ></app-text-input>
      </div>
      <div class="col-lg-6 col-md-12">
        <app-select-input
          name="SDK"
          [value]="nisqImpl.sdk"
          [choices]="sdks$ | async"
          (onChange)="nisqImpl.sdk = $event"
          (onSaveChanges)="saveImplementation()"
        ></app-select-input>
      </div>
      <div class="col-lg-6 col-md-12">
        <app-select-input
                name="Language"
                [value]="nisqImpl.language"
                [choices]="languages"
                (onChange)="nisqImpl.language = $event"
                (onSaveChanges)="saveImplementation()"
        ></app-select-input>
      </div>
    </div>
  </mat-card>
  <div class="d-flex justify-content-between header-container">
    <h4>Input Parameters</h4>
    <div class="d-flex">
      <button
        mat-button
        matSuffix
        mat-icon-button
        aria-label="Add Input Parameter"
        (click)="addOne()"
      >
        <mat-icon>add</mat-icon>
      </button>
      <button
        *ngIf="!selection.isEmpty()"
        mat-button
        matSuffix
        mat-icon-button
        aria-label="Remove selected parameters"
        (click)="deleteMany()"
      >
        <mat-icon>remove</mat-icon>
      </button>
    </div>
  </div>
  <div *ngFor="let param of nisqImpl.inputParameters.parameters; let i = index">
    <mat-card class="m-4">
      <div class="row">
        <div class="col-md-1 col-sm-2 col-2 text-center align-self-center">
          <mat-checkbox
            color="warn"
            [checked]="selection.isSelected(i)"
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(i) : null"
          >
          </mat-checkbox>
        </div>
        <div class="col-md-11 col-sm-10 col-10">
          <div class="row justify-content-between">
            <div class="col">
              <app-text-input
                name="Name of the Parameter"
                [value]="param.name"
                (onChange)="param.name = $event"
              >
              </app-text-input>
            </div>
            <div class="col">
              <app-text-input
                name="Description"
                [value]="param.description"
                (onChange)="param.description = $event"
              >
              </app-text-input>
            </div>
            <div class="col">
              <app-select-input
                name="Datatype"
                [value]="param.type"
                [choices]="[
                  { value: 'Integer', label: 'Integer' },
                  { value: 'Float', label: 'Float' },
                  { value: 'String', label: 'String' }
                ]"
                (onChange)="param.type = $event"
              >
              </app-select-input>
            </div>
            <div class="col">
              <app-text-input
                name="Restriction"
                [value]="param.restriction"
                (onChange)="param.restriction = $event"
              >
              </app-text-input>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="header-container">
    <h4>Prolog Rules</h4>
  </div>
  <mat-card class="m-4">
    <div class="row">
      <div class="col-12">
        <app-prolog-input
          name="Selection Rule (in PROLOG)"
          [(ngModel)]="nisqImpl.selectionRule"
          (onSaveChanges)="saveImplementation()"
        ></app-prolog-input>
      </div>
    </div>
  </mat-card>
</div>

<button
  class="master-save-button"
  *ngIf="!guard.objectsEqual(nisqImpl, oldNisqImpl)"
  mat-fab
  (click)="saveImplementation()"
>
  <mat-icon class="master-save-icon">save</mat-icon>
</button>
