<mat-card class="m-2">
  <div class="mx-3 mb-2">
    <app-table [data]=file
               [variableNames]=variableNames
               [dataColumns]=tableColumns
               [allowAdd]=true
               [allowDelete]="true"
               [allowSearch]=false
               [allowSort]=false
               [pagination]=pagingInfo
               [paginatorConfig]=paginatorConfig
               [emptyTableMessage]="'No File found'"
               (addElement)="onAddElement()"
               (submitDeleteElements)="onDeleteElements($event)"
               (datalistConfigChanged)="getAttachedFile()"
               (pageChange)="getAttachedFile()">
    </app-table>
    <div
            *ngIf="loading"
            class="d-flex align-content-center justify-content-center"
    >
    </div>
  </div>
</mat-card>
