<div class="p-4">
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <mat-card class="m-2">
        <app-text-input name="DOI"
                        [value]="publication.doi"
                        (onSaveChanges)="onChangesSaved($event, 'doi')"></app-text-input>
      </mat-card>
    </div>

    <div class="col-lg-6 col-sm-12">
      <mat-card class="m-2">
        <app-text-input name="URL"
                        [value]="publication.url"
                        [isLink]=true
                        (onSaveChanges)="onChangesSaved($event, 'url')"></app-text-input>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <mat-card class="m-2">
        <app-chip-collection [title]="'Authors'"
                             [elements]="publication.authors"
                             [allowEmpty]=false
                             (onAddElement)="addAuthorEvent($event)"
                             (onRemoveElement)="removeAuthorEvent($event)">
        </app-chip-collection>
      </mat-card>
    </div>
  </div>
</div>
