<div class="p-4">
  <div class="row">
    <div class="col-lg-4 col-sm-12">
      <mat-card class="m-2">
        <app-text-input name="Title"
                        [value]="publication.title"
                        (onChange)="onPropertyChanged($event, 'title')"
                        (onSaveChanges)="onChangesSaved($event, 'title')"></app-text-input>
      </mat-card>
    </div>
    <div class="col-lg-4 col-sm-12">
      <mat-card class="m-2">
        <app-text-input name="DOI"
                        [value]="publication.doi"
                        (onChange)="onPropertyChanged($event, 'doi')"
                        (onSaveChanges)="onChangesSaved($event, 'doi')"></app-text-input>
      </mat-card>
    </div>

    <div class="col-lg-4 col-sm-12">
      <mat-card class="m-2">
        <app-text-input name="URL"
                        [value]="publication.url"
                        [isLink]=true
                        (onChange)="onPropertyChanged($event, 'url')"
                        (onSaveChanges)="onChangesSaved($event, 'url')"></app-text-input>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <mat-card class="m-2">
        <app-chip-collection [title]="'Authors'"
                             [elements]="publication.authors"
                             [allowEmpty]=false
                             (onElementsChanged) ="onPropertyChanged($event, 'authors')"
                             (onSaveChanges)="onChangesSaved($event, 'authors')">
        </app-chip-collection>
      </mat-card>
    </div>
  </div>
</div>
