<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <form [formGroup]="algorithmRelationForm">
    <mat-form-field class="input-field">
      <mat-label>Target Algorithm</mat-label>
      <input
        formControlName="targetAlgName"
        [matAutocomplete]="targetAlg"
        placeholder="Some algorithm name"
        (ngModelChange)="refreshAlgorithms()"
        matInput
        required>
      <mat-autocomplete #targetAlg="matAutocomplete">
          <mat-option
            *ngFor="let alg of linkableAlgorithms"
            [value]="alg.name"
            (click)="onTargetAlgorithmSelect(alg)">
            {{alg.name}}
          </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="input-field">
      <mat-label>Relation</mat-label>
      <input
        formControlName="relationTypeName"
        [matAutocomplete]="relationType"
        placeholder="Some relation name"
        (ngModelChange)="onRelationInputChanged()"
        matInput
        required>
      <mat-autocomplete #relationType="matAutocomplete">
        <mat-optgroup *ngFor="let stateGroup of stateGroups" [label]="stateGroup.optionName">
          <mat-option
            *ngFor="let type of stateGroup.algoRelationTypes"
            [value]="type.name"
            (click)="onRelationTypeSelect(type)">
            {{type.name}}
          </mat-option>
        </mat-optgroup>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="input-field">
      <mat-label>Description</mat-label>
      <textarea formControlName="description" matInput required></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [disabled]="isRequiredDataMissing()" [mat-dialog-close]="data">Ok</button>
</div>
