<h1 mat-dialog-title>{{data.title}}</h1>

<mat-horizontal-stepper (selectionChange)="stepperSelectionChanged($event)" [linear]="true" #stepper>
  <mat-step [completed]="selectedPatternLanguage">
    <ng-template matStepLabel>Choose Pattern Language</ng-template>
    <div *ngIf="!arePatternLanguagesLoaded" class="w-100 row d-flex justify-content-center">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="arePatternLanguagesLoaded">
      <mat-form-field class="w-100">
        <mat-label>Search Pattern Language by name</mat-label>
        <input matInput type="text" [(ngModel)]="patternLanguageSearch" (ngModelChange)="onLanguageSearch()">
      </mat-form-field>
      <div class="content-list">
        <ng-container *ngFor="let language of filteredPatternLanguages">
          <mat-card
            [class]="{'content-selected': (selectedPatternLanguage && language.id === selectedPatternLanguage.id)}"
            class="content"
            (click)="onLanguageClick(language)">
            <mat-card-header class="d-flex justify-content-center">
              <mat-card-title><div class="w-100 content-title">{{ language.name }}</div></mat-card-title>
            </mat-card-header>
            <div class="image">
              <img mat-card-image src="{{ language.logo }}" class="fit-image">
            </div>
            <mat-card-actions (click)="$event.stopPropagation()">
              <div class="d-flex justify-content-center">
                <a mat-icon-button href="{{ language.uri }}" target="_blank" aria-label="Open pattern in new tab">
                  <mat-icon class="url-icon">open_in_browser</mat-icon>
                </a>
              </div>
            </mat-card-actions>
          </mat-card>
        </ng-container>
      </div>
    </div>
    <div>
      <button class="step-button" mat-stroked-button matStepperNext [disabled]="!selectedPatternLanguage"
              (click)="getPatterns(selectedPatternLanguage.id)">
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>
  </mat-step>
  <mat-step [completed]="selectedPatternLanguage && selectedPattern">
    <ng-template matStepLabel>Choose Pattern</ng-template>
    <div *ngIf="!arePatternsLoaded" class="w-100 row d-flex justify-content-center">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="arePatternsLoaded">
      <mat-form-field class="w-100">
        <mat-label>Search Pattern by name</mat-label>
        <input matInput type="text" [(ngModel)]="patternSearch" (ngModelChange)="onPatternSearch()">
      </mat-form-field>
      <div class="content-list">
        <ng-container *ngFor="let pattern of filteredPatterns">
          <mat-card [class]="{'content-selected': (selectedPattern && pattern.id === selectedPattern.id)}" class="content"
                    (click)="onPatternClick(pattern)">
            <mat-card-header class="d-flex justify-content-center">
              <mat-card-title><div class="w-100 content-title">{{ pattern.name }}</div></mat-card-title>
            </mat-card-header>
            <div class="image">
              <img mat-card-image src="{{ pattern.iconUrl }}" class="fit-image">
            </div>
            <mat-card-actions (click)="$event.stopPropagation()">
              <div class="d-flex justify-content-center">
                <a mat-icon-button href="{{ pattern.uri }}" target="_blank" aria-label="Open pattern in new tab">
                  <mat-icon class="url-icon">open_in_browser</mat-icon>
                </a>
              </div>
            </mat-card-actions>
          </mat-card>
        </ng-container>
      </div>
    </div>
    <div>
      <button class="step-button" mat-stroked-button matStepperPrevious>
        <mat-icon>navigate_before</mat-icon>
      </button>
      <button class="step-button ml-1" mat-stroked-button matStepperNext [disabled]="!selectedPatternLanguage || !selectedPattern"
              (click)="getRelationTypes()">
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>
  </mat-step>
  <mat-step [completed]="selectedPatternLanguage && selectedPattern && selectedRelationType && relationDescription">
    <ng-template matStepLabel>Describe Relationship</ng-template>
    <div *ngIf="!areRelationTypesLoaded" class="w-100 row d-flex justify-content-center">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="areRelationTypesLoaded">
      <mat-form-field class="w-100">
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="relationDescription" placeholder="Describe the relation" reqired></textarea>
      </mat-form-field>
      <mat-form-field class="w-100">
        <mat-label>Relation Type</mat-label>
        <input
          [matAutocomplete]="relationType"
          [(ngModel)]="relationTypeSearch"
          (ngModelChange)="onRelationTypeSearch()"
          (focusout)="!selectedRelationType && onRelationTypeFocusOut()"
          matInput
          required>
        <mat-autocomplete #relationType="matAutocomplete" (optionSelected)="setRelationType($event.option.value)"
                          [displayWith]="displayRelation">
          <mat-optgroup *ngFor="let stateGroup of relationTypeGroups" [label]="stateGroup.optionName">
            <mat-option
              *ngFor="let type of stateGroup.relationTypes"
              [value]="type"
              (mousedown)="setRelationType(type)">
              {{type.name}}
            </mat-option>
          </mat-optgroup>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div>
      <button class="step-button" mat-stroked-button matStepperPrevious>
        <mat-icon>navigate_before</mat-icon>
      </button>
      <button class="step-button ml-1" mat-stroked-button matStepperNext
              [disabled]="!selectedPatternLanguage || !selectedPattern || !selectedRelationType || !relationDescription">
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Verify</ng-template>
    <mat-form-field *ngIf="relationDescription" class="w-100">
      <mat-label>Description</mat-label>
      <textarea matInput [(ngModel)]="relationDescription" readonly></textarea>
    </mat-form-field>
    <mat-form-field *ngIf="selectedRelationType" class="w-100">
      <mat-label>Relation Type</mat-label>
      <input matInput [(ngModel)]="selectedRelationType.name" readonly>
    </mat-form-field>
    <mat-form-field *ngIf="selectedPattern" class="w-100">
      <mat-label>Pattern</mat-label>
      <input matInput [(ngModel)]="selectedPattern.name" readonly>
    </mat-form-field>
    <div>
      <button class="step-button" mat-stroked-button matStepperPrevious>
        <mat-icon>navigate_before</mat-icon>
      </button>
      <button class="step-button ml-1" mat-stroked-button [mat-dialog-close]="data">Confirm</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
