<h1 mat-dialog-title>{{data.title}}</h1>
<!-- <div mat-dialog-content>
  <form [formGroup]="patternRelationForm">
    <mat-form-field class="input-field">
      <mat-label>Pattern</mat-label>
      <input formControlName="pattern" placeholder="blog.cdemi.io/design-patterns-competing-consumer-pattern" matInput
             required>
    </mat-form-field>
    <mat-form-field class="input-field">
      <mat-label>Description</mat-label>
      <textarea formControlName="description" matInput required></textarea>
    </mat-form-field>
    <mat-form-field class="input-field">
      <mat-label>Relation Type</mat-label>
      <input
        formControlName="patternRelationType"
        [matAutocomplete]="relationType"
        placeholder="Competing Consumer"
        (ngModelChange)="onPatternRelationInputChanged()"
        matInput
        required>
      <mat-autocomplete #relationType="matAutocomplete" (optionSelected)="setPatternRelationType($event.option.value)" [displayWith]="displayRelation">
        <mat-optgroup *ngFor="let stateGroup of stateGroups" [label]="stateGroup.optionName">
          <mat-option
            *ngFor="let type of stateGroup.patternRelationTypes"
            [value]="type"
            (click)="setPatternRelationType(type)">
            {{type.name}}
          </mat-option>
        </mat-optgroup>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [disabled]="isRequiredDataMissing()" [mat-dialog-close]="data">Ok</button>
</div> -->

<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="patternLanguageForm">
    <form [formGroup]="patternForm">
      <ng-template matStepLabel>Choose Pattern Language</ng-template>
      <mat-form-field class="w-100">
        <mat-label>Search Pattern Language by name</mat-label>
        <input matInput type="text" [(ngModel)]="patternLanguageSearch" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <div class="content-list">
        <ng-container *ngFor="let language of patternLanguages">
          <mat-card class="content">
            <mat-card-header>
              <mat-card-title><span>{{ language.name }}</span></mat-card-title>
            </mat-card-header>
            <div class="image">
              <img mat-card-image src="{{ language.logo }}" class="fit-image">
            </div>
            <mat-card-actions>
              <a mat-button href="{{ language.uri }}" target="_blank">URL</a>
            </mat-card-actions>
          </mat-card>
        </ng-container>
      </div>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="patternForm">
    <form [formGroup]="patternForm">
      <ng-template matStepLabel>Choose Pattern</ng-template>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="patternRelationForm">
    <form [formGroup]="patternRelationForm">
      <ng-template matStepLabel>Add Details</ng-template>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
