<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-actions>
  <div>
    <button mdbBtn class="btn-sm"
            type="button" color="green" outline="true"
            (click)="onCreateImplementationDialog()"
            mdbWavesEffect>
      <mat-icon>add</mat-icon>
    </button>
  </div>
    <button mdbBtn class="btn-sm"
            type="button" color="blue" outline="true"
            (click)="openLinkImplementationDialog()"
            mdbWavesEffect>
      <mat-icon>link</mat-icon>
    </button>
  </div>
  <div>
</div>
