<div class="p-4">
  <div class="d-flex row">
    <div class="col-xl-4 col-lg-12">
      <mat-card class="m-2">
        <app-text-input name="Acronym"
                        [(ngModel)]="algorithm.acronym"
                        (onSaveChanges)="onChangesSaved($event, 'acronym')"></app-text-input>
      </mat-card>
    </div>
    <div class="col-xl-4 col-lg-12">
      <mat-card class="m-2">
        <app-text-input name="Intent"
                        [(ngModel)]="algorithm.intent"
                        [multiline]="true"
                        [maxLines]="5"
                        (onSaveChanges)="onChangesSaved($event, 'intent')"></app-text-input>
      </mat-card>
    </div>
    <div class="col-xl-4 col-lg-12 col-sm-12">
      <mat-card class="m-2">
        <app-text-input name="Problem"
                        [(ngModel)]="algorithm.problem"
                        [multiline]="true"
                        [maxLines]="5"
                        (onSaveChanges)="onChangesSaved($event, 'problem')"></app-text-input>
      </mat-card>
    </div>
  </div>

  <div class="d-flex row">
    <div class="col-lg-6 col-sm-12">
      <mat-card class="m-2">
        <app-problem-type-tree #problemTypeTree
                               name="Problem-Types"
                               [treeData]="problemTypeTreeData"
                               (onAddElement)="addProblemTypeEvent()"
                               (onRemoveElement)="removeProblemTypeEvent()"
                               (onExpandParents)="getParentsForNode($event)"></app-problem-type-tree>
      </mat-card>
    </div>

    <div class="col-lg-6 col-sm-12">
      <mat-card class="m-2">
        <app-chip-collection [title]="'Application areas'"
                             [elements]="linkedApplicationAreas"
                             [displayVariable]="'name'"
                             [useToAddLinks]="true"
                             [linkObject]=applicationAreaLinkObject
                             (onAddElement)="addApplicationAreaEvent($event)"
                             (onRemoveElement)="removeApplicationAreaEvent($event)"
                             (onSearchTextChanged)="searchUnlinkedApplicationAreas($event)"></app-chip-collection>
      </mat-card>
    </div>
  </div>

  <div class="d-flex row">
    <div class="col-xl-4 col-lg-12">
      <mat-card class="m-2">
        <app-text-input name="Input format"
                        [(ngModel)]="algorithm.inputFormat"
                        [multiline]="true"
                        [maxLines]="5"
                        (onSaveChanges)="onChangesSaved($event, 'inputFormat')"></app-text-input>
      </mat-card>
    </div>

    <div class="col-xl-4 col-lg-12">
      <mat-card class="m-2">
        <app-text-input name="Parameters"
                        [(ngModel)]="algorithm.algoParameter"
                        [multiline]="true"
                        [maxLines]="5"
                        (onSaveChanges)="onChangesSaved($event, 'algoParameter')"></app-text-input>
      </mat-card>
    </div>

    <div class="col-xl-4 col-lg-12">
      <mat-card class="m-2">
        <app-text-input name="Output format"
                        [(ngModel)]="algorithm.outputFormat"
                        [multiline]="true"
                        [maxLines]="5"
                        (onSaveChanges)="onChangesSaved($event, 'outputFormat')"></app-text-input>
      </mat-card>
    </div>
  </div>

  <div class="d-flex row">
    <div class="col-12">
      <mat-card class="m-2">
        <app-compute-resource-property-list (addProperty)="addComputeResourceProperty($event)"
                                            (updateProperty)="updateComputeResourceProperty($event)"
                                            (deleteProperty)="deleteComputeResourceProperty($event)"
                                            [title]="'Required compute resource properties'"
                                            [resourceProperties]="computeResourceProperties">
        </app-compute-resource-property-list>
      </mat-card>
    </div>
  </div>

  <div class="d-flex row">
    <div class="col-lg-6 col-sm-12">
      <mat-card class="m-2">
        <app-text-input name="Solution"
                        [(ngModel)]="algorithm.solution"
                        [multiline]="true"
                        [maxLines]="5"
                        (onSaveChanges)="onChangesSaved($event, 'solution')"></app-text-input>
      </mat-card>
    </div>

    <div class="col-lg-6 col-sm-12">
      <mat-card class="m-2">
        <app-text-input name="Assumptions"
                        [(ngModel)]="algorithm.assumptions"
                        [multiline]="true"
                        [maxLines]="5"
                        (onSaveChanges)="onChangesSaved($event, 'assumptions')"></app-text-input>
      </mat-card>
    </div>
  </div>

  <div class="d-flex row">
    <div class="col-lg-6 col-sm-12">
      <mat-card class="m-2" *ngIf="algorithm.computationModel === 'QUANTUM'">
        <app-text-input name="Speedup"
                        [(ngModel)]="algorithm.speedUp"
                        (onSaveChanges)="onChangesSaved($event, 'speedUp')"></app-text-input>
      </mat-card>
    </div>

    <div class="col-lg-6 col-sm-12">
      <mat-card class="m-2" *ngIf="algorithm.computationModel === 'QUANTUM'">
        <app-checkbox-input name="NISQ ready"
                            [(ngModel)]="algorithm.nisqReady"
                            (onSaveChanges)="onChangesSaved($event, 'nisqReady')">
        </app-checkbox-input>
      </mat-card>
    </div>
  </div>

  <!-- TODO: finish Sketch -->
  <div class="d-flex row">
    <div class="col-lg-6 col-sm-12">
      <mat-card class="m-2" *ngIf="algorithm.computationModel === 'QUANTUM'">
        <app-select-input name="Quantum computation model"
                          [(ngModel)]="algorithm.quantumComputationModel"
                          [choices]="availableQuantumComputationModelOptions"></app-select-input>

      </mat-card>
    </div>

    <div class="col-lg-6 col-sm-12">
      <mat-card class="m-2">
        <app-select-input name="Sketch type"
                          [(ngModel)]="algorithm.sketches"
                          [includeEmpty]="true"
                          [choices]="availableSketchOptions"
                          (onSaveChanges)="onChangesSaved($event, 'sketch')"></app-select-input>
      </mat-card>
    </div>
  </div>
</div>

