<div class="p-4">
  <div class="d-flex">
    <mat-card class="w-100 mx-4 my-2">
      <app-text-input name="Acronym"
                      [(ngModel)]="algorithm.acronym"
                      (onSaveChanges)="onChangesSaved($event, 'acronym')"></app-text-input>
    </mat-card>
    <mat-card class="w-100 mx-4 my-2">
      <app-text-input name="Intent"
                      [(ngModel)]="algorithm.intent"
                      [multiline]="true"
                      [maxLines]="5"
                      (onSaveChanges)="onChangesSaved($event, 'intent')"></app-text-input>
    </mat-card>
    <mat-card class="w-100 mx-4 my-2">
      <app-text-input name="Problem"
                      [(ngModel)]="algorithm.problem"
                      [multiline]="true"
                      [maxLines]="5"
                      (onSaveChanges)="onChangesSaved($event, 'problem')"></app-text-input>
    </mat-card>
  </div>

  <div class="d-flex">
    <mat-card class="w-100 m-4">
      <app-problem-type-tree #problemTypeTree
                             class="w-100"
                             name="Problem-Types"
                             [treeData]="problemTypeTreeData"
                             (onAddElement)="addProblemTypeEvent()"
                             (onRemoveElement)="removeProblemTypeEvent()"
                             (onExpandParents)="getParentsForNode($event)"></app-problem-type-tree>
    </mat-card>

    <mat-card class="w-100 m-4">
        <app-chip-collection class="w-100"
                             [title]="'Application areas'"
                             [elements]="linkedApplicationAreas"
                             [displayVariable]="'name'"
                             [useToAddLinks]="true"
                             [linkObject]=applicationAreaLinkObject
                             (onAddElement)="addApplicationAreaEvent($event)"
                             (onRemoveElement)="removeApplicationAreaEvent($event)"
                             (onSearchTextChanged)="searchUnlinkedApplicationAreas($event)"></app-chip-collection>
    </mat-card>
  </div>

  <div class="d-flex">
    <mat-card class="w-100 mx-4 my-2">
      <app-text-input name="Input format"
                      [(ngModel)]="algorithm.inputFormat"
                      [multiline]="true"
                      [maxLines]="5"
                      (onSaveChanges)="onChangesSaved($event, 'inputFormat')"></app-text-input>
    </mat-card>

    <mat-card class="w-100 mx-4 my-2">
      <app-text-input name="Parameters"
                      [(ngModel)]="algorithm.algoParameter"
                      [multiline]="true"
                      [maxLines]="5"
                      (onSaveChanges)="onChangesSaved($event, 'algoParameter')"></app-text-input>
    </mat-card>

    <mat-card class="w-100 mx-4 my-2">
      <app-text-input name="Output format"
                      [(ngModel)]="algorithm.outputFormat"
                      [multiline]="true"
                      [maxLines]="5"
                      (onSaveChanges)="onChangesSaved($event, 'outputFormat')"></app-text-input>
    </mat-card>
  </div>

  <mat-card class="m-4">
    <app-compute-resource-property-list (addProperty)="addComputeResourceProperty($event)"
                                        (updateProperty)="updateComputeResourceProperty($event)"
                                        (deleteProperty)="deleteComputeResourceProperty($event)"
                                        [title]="'Required compute resource properties'"
                                        [resourceProperties]="computeResourceProperties">
    </app-compute-resource-property-list>
  </mat-card>

  <div class="d-flex">
    <mat-card class="w-100 mx-4 my-2">
      <app-text-input name="Solution"
                      [(ngModel)]="algorithm.solution"
                      [multiline]="true"
                      [maxLines]="5"
                      (onSaveChanges)="onChangesSaved($event, 'solution')"></app-text-input>
    </mat-card>

    <mat-card class="w-100 mx-4 my-2">
      <app-text-input name="Assumptions"
                      [(ngModel)]="algorithm.assumptions"
                      [multiline]="true"
                      [maxLines]="5"
                      (onSaveChanges)="onChangesSaved($event, 'assumptions')"></app-text-input>
    </mat-card>
  </div>

  <div class="d-flex">
    <mat-card class="w-100 mx-4 my-4" *ngIf="algorithm.computationModel === 'QUANTUM'">
      <app-text-input name="Speedup"
                      [(ngModel)]="algorithm.speedUp"
                      (onSaveChanges)="onChangesSaved($event, 'speedUp')"></app-text-input>
    </mat-card>
    <mat-card class="w-100 mx-4 my-4" *ngIf="algorithm.computationModel === 'QUANTUM'">
      <app-checkbox-input name="NISQ ready"
                          [(ngModel)]="algorithm.nisqReady"
                          (onSaveChanges)="onChangesSaved($event, 'nisqReady')">
      </app-checkbox-input>
    </mat-card>
  </div>

  <!-- TODO: finish Sketch -->
  <div class="d-flex">
    <mat-card class="w-100 mx-4 my-2" *ngIf="algorithm.computationModel === 'QUANTUM'">
      <app-select-input name="Quantum computation model"
                        [(ngModel)]="algorithm.quantumComputationModel"
                        [choices]="availableQuantumComputationModelOptions"></app-select-input>

    </mat-card>
    <mat-card class="w-100 mx-4 my-2">
        <app-select-input name="Sketch type"
                          [(ngModel)]="algorithm.sketches"
                          [includeEmpty]="true"
                          [choices]="availableSketchOptions"
                          (onSaveChanges)="onChangesSaved($event, 'sketch')"></app-select-input>
    </mat-card>
  </div>
</div>

