<div class="row mb-3">
  <div class="col">
    <mat-chip-listbox class="float-right">
      <div class="tags-container">
        <div>
          <mat-chip-option class="clickable-chip" (click)="addTag()">
            <mat-icon>add</mat-icon>
          </mat-chip-option>
        </div>
        <div class="tags-content tags-size">
          <mat-chip-option
            *ngFor="let tag of this.tags"
            [ngStyle]="{'background-color': this.categoryToColor ? this.categoryToColor[tag.category] : 'none' }"
            [removable]="true"
            (removed)="removeTag(tag)">
            {{ tag.value }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip-option>
        </div>
        <div>
          <button mat-icon-button (click)="toggleCategories()">
            <mat-icon>help_outline</mat-icon>
          </button>
        </div>
      </div>
    </mat-chip-listbox>
  </div>
</div>

<div class="row">
  <div class="col">
    <div *ngIf="showCategories" class="categories-container categories-size">
      <div *ngFor="let key of getCategories()" class="category m-2 text-justify-center">
    <span class="dot"
          [ngStyle]="{'background-color': this.categoryToColor ? this.categoryToColor[key] : 'none'}"></span>
        {{key}}
      </div>
    </div>
  </div>
</div>


