<div class="row justify-content-end mb-3">
  <div class="col">
    <mat-chip-list>
      <mat-chip class="clickable-chip" (click)="addTag()">
        <mat-icon>add</mat-icon>
      </mat-chip>
      <div class="tags-content tags-size">
        <mat-chip
          *ngFor="let tag of this.tags"
          [ngStyle]="{'background-color': this.categoryToColor ? this.categoryToColor[tag.category] : 'none' }"
          [removable]="true"
          (removed)="removeTag(tag)">
          {{ tag.value }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </div>
      <button mat-icon-button (click)="toggleCategories()">
        <mat-icon>help_outline</mat-icon>
      </button>
    </mat-chip-list>
  </div>
</div>

<div class="row">
  <div class="col">
    <div *ngIf="showCategories" class="categories-container categories-size">
      <div *ngFor="let key of getCategories()" class="category m-2 text-justify-center">
    <span class="dot"
          [ngStyle]="{'background-color': this.categoryToColor ? this.categoryToColor[key] : 'none'}"></span>
        {{key}}
      </div>
    </div>
  </div>
</div>


