<mat-card appearance="outlined" class="m-4">
  <div class="mx-3 mb-2">
    <app-table [data]=softwarePlatforms
               [variableNames]=variableNames
               [dataColumns]=tableColumns
               [externalLinkVariables]=externalLinkVariables
               [allowAdd]=true
               [allowDelete]="true"
               [allowSearch]=true
               [allowSort]=true
               [pagination]=pagingInfo
               [paginatorConfig]=paginatorConfig
               [emptyTableMessage]="'No software platforms found'"
               (elementClicked)="onSoftwarePlatformClicked($event)"
               (urlClicked)="onUrlClicked($event)"
               (addElement)="onCreateSoftwarePlatform()"
               (submitDeleteElements)="onDeleteSoftwarePlatforms($event)"
               (datalistConfigChanged)="getSoftwarePlatforms($event)"
               (pageChange)="getSoftwarePlatforms($event)">
    </app-table>
  </div>
</mat-card>
