<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
    <form [formGroup]="implementationExecutionForm">
        <mat-form-field class="input-field">
            <mat-label>Vendor</mat-label>
            <mat-select formControlName="vendor" (selectionChange)="onVendorChanged($event.value)" required>
                <mat-option [value]="'IBMQ'">IBMQ</mat-option>
                <mat-option [value]="'Rigetti'">Rigetti</mat-option>
                <mat-option [value]="'Cirq-Google'">Cirq-Google</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="input-field" *ngIf="isSupportedSelected">
            <mat-label>QPU</mat-label>
            <mat-select formControlName="qpu" required>
                <mat-option *ngFor="let qpu of qpuArray" [value]="qpu">{{qpu}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="input-field" *ngIf="!isSupportedSelected">
            <mat-label>QPU</mat-label>
            <input id="qpu" formControlName="qpu" matInput required>
        </mat-form-field>
        <mat-form-field class="input-field">
            <mat-label>Token</mat-label>
            <input type="password" id="token" formControlName="token" matInput>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [disabled]="isRequiredDataMissing()" [mat-dialog-close]="data">Ok
    </button>
</div>

