<div *ngIf="publication" class="m-2">
  <div class="header-container p-2">
    <navigation-breadcrumb [links]="links"></navigation-breadcrumb>
    <div>
      <mat-chip-list>
        <mat-chip *ngFor="let tag of testTags" [removable]="true" (removed)="removeTag(tag)">
          {{tag}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <mat-chip class="clickable-chip" (click)="addTag()">
          <mat-icon>add</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
</div>
