<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <form [formGroup]="publicationForm">
    <mat-form-field class="input-field">
      <mat-label>Title</mat-label>
      <input id="publicationTitle" formControlName="publicationTitle" matInput required>
    </mat-form-field>
    <mat-label> Authors</mat-label>
    <div *ngFor="let author of data.authors">
      <mat-form-field class="input-field">
        <input [(ngModel)]="author"  matInput required>
      </mat-form-field>
      <button type="button" mdbBtn color="primary"> Delete</button>
    </div>

    <button type="button" mdbBtn color="primary" (click)="addItem()"> Add</button>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [disabled]="isRequiredDataMissing()" [mat-dialog-close]="data">Ok
  </button>
</div>
