<mat-card class="m-2">
  <div class="mx-3 mb-2">
    <app-table [data]=algorithms
               [variableNames]=variableNames
               [dataColumns]=tableColumns
               [allowAdd]=true
               [allowDelete]="true"
               [allowSearch]=true
               [allowSort]=true
               [pagination]=pagingInfo
               [paginatorConfig]=paginatorConfig
               [emptyTableMessage]="'No algorithms found'"
               (elementClicked)="onElementClicked($event)"
               (addElement)="onAddElement()"
               (submitDeleteElements)="onDeleteElements($event)"
               (datalistConfigChanged)="getAlgorithms($event)"
               (pageChange)="getAlgorithms($event)">
    </app-table>
  </div>
</mat-card>
