<div class="p-4">
  <div class="row">
    <div class="col-12">
      <mat-card appearance="outlined" class="m-2">
        <app-text-input
          name="Licence"
          [value]="softwarePlatform.licence"
          (onChange)="onPropertyChanged($event, 'licence')"
          (onSaveChanges)="onChangesSaved($event, 'licence')"></app-text-input>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <mat-card appearance="outlined" class="m-2">
        <app-text-input
          name="Version"
          [value]="softwarePlatform.version"
          (onChange)="onPropertyChanged($event, 'version')"
          (onSaveChanges)="onChangesSaved($event, 'version')"></app-text-input>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <mat-card appearance="outlined" class="m-2">
        <app-text-input
          name="URL"
          [value]="softwarePlatform.link"
          [isLink]=true
          (onChange)="onPropertyChanged($event, 'link')"
          (onSaveChanges)="onChangesSaved($event, 'link')"></app-text-input>
      </mat-card>
    </div>
  </div>
</div>

