<div class="p-4">
  <div class="row">
    <div class="col-12">
      <mat-card class="m-2">
        <app-text-input
          name="Licence"
          [(ngModel)]="softwarePlatform.licence"
          (onSaveChanges)="onChangesSaved($event, 'licence')"></app-text-input>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <mat-card class="m-2">
        <app-text-input
          name="Version"
          [(ngModel)]="softwarePlatform.version"
          (onSaveChanges)="onChangesSaved($event, 'version')"></app-text-input>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <mat-card class="m-2">
        <app-text-input
          name="URL"
          [(ngModel)]="softwarePlatform.link"
          [isLink]=true
          (onSaveChanges)="onChangesSaved($event, 'link')"></app-text-input>
      </mat-card>
    </div>
  </div>
</div>

