<mat-card class="m-2">
  <div class="mx-3 mb-2">
    <app-table [data]=patternConcreteSolutions
               [variableNames]=variableNames
               [dataColumns]=tableColumns
               [allowAdd]=true
               [allowDelete]="true"
               [allowSearch]=true
               [allowSort]=true
               [pagination]=pagingInfo
               [paginatorConfig]=paginatorConfig
               [emptyTableMessage]="'No Concrete Solutions found'"
               (elementClicked)="onElementClicked($event)"
               (datalistConfigChanged)="getPatternConcreteSolutions($event)"
               (pageChange)="getPatternConcreteSolutions($event)">
    </app-table>
  </div>
</mat-card>