<div *ngIf="implementation && algorithm" class="m-2">
  <div class="row p-2 m-0 align-items-center">
    <div class="col">
      <navigation-breadcrumb [links]="links"></navigation-breadcrumb>
    </div>
    <div class="col">
      <div class="float-right mx-2">
        <app-tags-component
          [allowRemoving]="true"
          [tags]="tags"
          (onRemove)="removeTag($event)"
          (onAdd)="addTag($event)"
        >
        </app-tags-component>
      </div>
    </div>
  </div>
  <mat-tab-group (selectedIndexChange)="changeTab($event)">
    <mat-tab label="General">
      <app-implementation-properties
        [frontendImplementation]="frontendImplementation"
        [computeResourceProperties]="computeResourceProperties"
        [implementation]="implementation"
        (updateImplementationField)="updateImplementationField($event)"
        (deleteComputeResourceProperty)="deleteComputeResourceProperty($event)"
        (addComputeResourceProperty)="addComputeResourceProperty($event)"
        (updateComputeResourceProperty)="updateComputeResourceProperty($event)"
      >
      </app-implementation-properties>
      <button
        class="master-save-button"
        *ngIf="!guard.objectsEqual(frontendImplementation, implementation)"
        mat-fab
        (click)="saveImplementation(frontendImplementation, true)"
      >
        <mat-icon class="master-save-icon">save</mat-icon>
      </button>
    </mat-tab>
    <mat-tab label="Publications">
      <div>
        <app-implementation-publications-list [implementation]="implementation">
        </app-implementation-publications-list>
      </div>
    </mat-tab>
    <mat-tab label="Software Platforms">
      <app-implementation-softwareplatform-list
        [implementation]="implementation"
      ></app-implementation-softwareplatform-list>
    </mat-tab>
    <mat-tab [hidden]="isNisqUsed" label="Selection Criteria">
      <div class="tab-body p-4">
        <app-impl-selection-criteria
          [algo]="algorithm"
          [impl]="implementation"
          [guard]="guard"
        ></app-impl-selection-criteria>
      </div>
    </mat-tab>
    <mat-tab label="Discussion">
      <div class="tab-body p-4">
        <h1>Discussion WIP</h1>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<div
  *ngIf="!implementation || !algorithm"
  class="d-flex align-content-center justify-content-center"
>
  <mat-spinner></mat-spinner>
</div>
