<div>
  <div class="header-container p-2">
    <navigation-breadcrumb [links]="links"></navigation-breadcrumb>
    <div class="badge-list">
      <mat-chip-list>
        <mat-chip
          *ngFor="let element of [1, 2, 2, 3, 53, 3]"
          [removable]="true"
        >
          {{ element }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>

  <mat-tab-group>
    <mat-tab label="General">
      <div class="tab-body p-2">
        <div class="d-flex justify-content-between">
          <div class="d-flex">
            <app-text-input name="Name" [value]="impl.name"></app-text-input>
          </div>
          <div class="d-flex">
            <app-select-input
              name="Software Platform"
              [choices]="softwarePlatformOptions"
              [includeEmpty]="true"
            ></app-select-input>
          </div>
        </div>
        <div class="d-flex">
          <app-text-input
            name="Description"
            [value]="impl.description"
            [multiline]="true"
          ></app-text-input>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Publications"> </mat-tab>
    <mat-tab label="Discussion">
      <h1>Discussion WIP</h1>
    </mat-tab>
  </mat-tab-group>
</div>
