<mat-card class="m-2">
  <div class="mx-3 mb-2">

    <!-- Qunicorn Picture-->
    <div>
      <img class="image" src="../../../../assets/qunicorn_quadratic_png.png" alt="Qunicorn Service" />
    </div>

    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
      <mat-tab label="Submit Deployment">
        <div class="input-frame">
          <form (ngSubmit)="submitDeployment()">
            <input style="width: 100%; height: auto;" [(ngModel)]="userInput" name="userInput"
              placeholder='OPENQASM 2.0;\ninclude \"qelib1.inc\";\nqreg q[2];\ncreg meas[2];\nh q[0];\ncx q[0],q[1];\nbarrier q[0],q[1];\nmeasure q[0] -> meas[0];\nmeasure q[1] -> meas[1];' />
            <button mat-flat-button color="primary" type="submit">Submit Deployment Definitions</button>
          </form>
        </div>

        <!-- <button mat-flat-button color="primary" (click)="submitDeployment()">Submit Definitions</button> -->
        <div class="response-frame">
          <pre>{{ deploymentResponse }}</pre>
        </div>


        <div class="response-frame">
          <button mat-flat-button color="primary" (click)="getDeployments()">Get Deployments</button>
          <pre>{{ getDeploymentResponse }}</pre>
        </div>


      </mat-tab>
      <mat-tab label="Invoke Job">
        <div class="input-frame">
          <form (ngSubmit)="invokeJob()">
            <input [(ngModel)]="deploymentID" name="deploymentID" placeholder=3 />
            <button mat-flat-button color="primary" type="submit">Invoke Job</button>
          </form>
        </div>

        <div class="response-frame">
          <pre>{{ jobResponse }}</pre>
        </div>

        <div class="response-frame">
          <button mat-flat-button color="primary" (click)="getJobs()">Get Jobs</button>
          <pre>{{ response }}</pre>
        </div>
      </mat-tab>

      <mat-tab label="Get Results">
        <!-- <button id="Results" color="primary" (click)="getResults()">Get Results</button> -->
        <form (ngSubmit)="getResults(jobID)">
          <input [(ngModel)]="jobID" name="jobID" placeholder=5 />
          <button mat-flat-button color="primary" type="submit">Get Results</button>
        </form>
        <!-- <app-histogram-plot [counts]="{'0': 2007, '11': 1993}"></app-histogram-plot> -->
        <div class="response-frame">
          <div *ngIf="result">
            <h3>Counts:</h3>
            <ul>
              <li *ngFor="let count of counts | keyvalue">
                {{ count.key }}: {{ count.value }}
              </li>
            </ul>

            <h3>Probabilities:</h3>
            <ul>
              <li *ngFor="let probability of probabilities | keyvalue">
                {{ probability.key }}: {{ probability.value }}
              </li>
            </ul>
          </div>
        </div>

      </mat-tab>
    </mat-tab-group>

  </div>
</mat-card>