.response-frame {
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.image {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    max-height: 200px;
}

.input-frame {
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    /* Centers the items vertically */
    justify-content: center;
    background-color: #f9f9f9;
    max-width: 600px;
    /* Adjust the width as needed */
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 5px;
    border: none;
    border-radius: 3px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}