.response-frame {
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.image {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    max-height: 200px;
}