<div class="p-4">
  <div class="row">
    <div class="col-lg-4 col-sm-12">
      <mat-card class="m-2">
        <app-text-input
          name="Name"
          (onChange)="onPropertyChanged($event,'name')"
          (onSaveChanges)="onChangesSaved($event,'name')"
          [value]="frontendImplementation.name"
          [baseValue]="implementation.name"
          [multiline]="true"
        ></app-text-input>
      </mat-card>
    </div>
    <div class="col-lg-4 col-sm-12">
      <mat-card class="m-2">
        <app-text-input
          name="Description"
          (onChange)="onPropertyChanged($event,'description')"
          (onSaveChanges)="onChangesSaved($event,'description')"
          [value]="frontendImplementation.description"
          [baseValue]="implementation.description"
          [multiline]="true"
        ></app-text-input>
      </mat-card>
    </div>
    <div class="col-lg-4 col-sm-12">
      <mat-card class="m-2">
        <app-text-input
          name="Contributors"
          (onChange)="onPropertyChanged($event,'contributors')"
          (onSaveChanges)="onChangesSaved($event,'contributors')"
          [value]="frontendImplementation.contributors"
          [baseValue]="implementation.contributors"
          [multiline]="true"
        ></app-text-input>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-sm-12">
      <mat-card class="m-2">
        <app-text-input
          name="Version"
          (onChange)="onPropertyChanged($event,'version')"
          (onSaveChanges)="onChangesSaved($event,'version')"
          [value]="frontendImplementation.version"
          [baseValue]="implementation.version"
          [multiline]="true"
        ></app-text-input>
      </mat-card>
    </div>
    <div class="col-lg-4 col-sm-12">
      <mat-card class="m-2">
        <app-text-input
          name="Dependencies"
          (onChange)="onPropertyChanged($event,'dependencies')"
          (onSaveChanges)="onChangesSaved($event,'dependencies')"
          [value]="frontendImplementation.dependencies"
          [baseValue]="implementation.dependencies"
          [multiline]="true"
        ></app-text-input>
      </mat-card>
    </div>
    <div class="col-lg-4 col-sm-12">
      <mat-card class="m-2">
        <app-text-input
          name="License"
          (onChange)="onPropertyChanged($event,'license')"
          (onSaveChanges)="onChangesSaved($event,'license')"
          [value]="frontendImplementation.license"
          [baseValue]="implementation.license"
          [multiline]="true"
        ></app-text-input>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4 col-lg-12">
      <mat-card class="m-2">
        <app-text-input
          name="Input Format"
          (onChange)="onPropertyChanged($event,'inputFormat')"
          (onSaveChanges)="onChangesSaved($event,'inputFormat')"
          [value]="frontendImplementation.inputFormat"
          [baseValue]="implementation.inputFormat"
        ></app-text-input>
      </mat-card>
    </div>
    <div class="col-xl-4 col-lg-12">
      <mat-card class="m-2">
        <app-text-input
          name="Parameter"
          (onChange)="onPropertyChanged($event,'parameter')"
          (onSaveChanges)="onChangesSaved($event,'parameter')"
          [value]="frontendImplementation.parameter"
          [baseValue]="implementation.parameter"
        ></app-text-input>
      </mat-card>
    </div>
    <div class="col-xl-4 col-lg-12">
      <mat-card class="m-2">
        <app-text-input
          name="Output Format"
          (onChange)="onPropertyChanged($event,'outputFormat')"
          (onSaveChanges)="onChangesSaved($event,'outputFormat')"
          [value]="frontendImplementation.outputFormat"
          [baseValue]="implementation.outputFormat"
        ></app-text-input>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <mat-card class="m-2">
        <app-compute-resource-property-list (addProperty)="onAddComputeResourceProperty($event)"
                                            (updateProperty)="onUpdateComputeResourceProperty($event)"
                                            (deleteProperty)="onDeleteComputeResourceProperty($event)"
                                            [title]="'Compute resource properties'"
                                            [resourceProperties]="computeResourceProperties">
        </app-compute-resource-property-list>
      </mat-card>
    </div>
  </div>
</div>
