<div class="container-fluid p-4">
  <div class="row">
    <div class="col-md-6">
      <mat-card>
        <app-text-input
          name="Description"
          (onSaveChanges)="onChangesSaved($event,'description')"
          [(ngModel)]="implementation.description"
          [multiline]="true"
        ></app-text-input>
      </mat-card>
    </div>
    <div class="col-md-6">
      <mat-card>
        <app-text-input
          name="Contributors"
          (onSaveChanges)="onChangesSaved($event,'contributors')"
          [(ngModel)]="implementation.contributors"
          [multiline]="true"
        ></app-text-input>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <mat-card class="col-md-6">
      <app-text-input
        name="Dependencies"
        (onSaveChanges)="onChangesSaved($event,'dependencies')"
        [(ngModel)]="implementation.dependencies"
      ></app-text-input>
    </mat-card>
    <mat-card class="col-md-6">
      <app-compute-resource-property-list (addProperty)="onAddComputeResourceProperty($event)"
                                          (updateProperty)="onUpdateComputeResourceProperty($event)"
                                          (deleteProperty)="onDeleteComputeResourceProperty($event)"
                                          [resourceProperties]="computeResourceProperties">
      </app-compute-resource-property-list>
    </mat-card>
  </div>
  <div class="row">
    <mat-card class="col-md-4">
      <app-text-input
        name="Input Format"
        (onSaveChanges)="onChangesSaved($event,'inputFormat')"
        [(ngModel)]="implementation.inputFormat"
      ></app-text-input>
    </mat-card>
    <mat-card class="col-md-4">
      <app-text-input
        name="Parameter"
        (onSaveChanges)="onChangesSaved($event,'parameter')"
        [(ngModel)]="implementation.parameter"
      ></app-text-input>
    </mat-card>
    <mat-card class="col-md-4">
      <app-text-input
        name="Output Format"
        (onSaveChanges)="onChangesSaved($event,'outputFormat')"
        [(ngModel)]="implementation.outputFormat"
      ></app-text-input>
    </mat-card>
  </div>
</div>
