<div class="m-4">
  <div class="row">
    <div class="col-12">
      <mat-label class="mr-4">{{ title }}</mat-label>
      <mat-form-field *ngIf="!useToAddLinks" >
        <input matInput [(ngModel)]="inputValue" matInput (keydown.enter)="addElement()" [readonly]="!uiConfig.features.enableEditing">
        <button *ngIf="!useToAddLinks" (click)="addElement()"
                mat-button
                matSuffix
                mat-icon-button
                aria-label="Clear"
                [disabled]="!uiConfig.features.enableEditing">
          <mat-icon>add</mat-icon>
        </button>
        <button *ngIf="!useToAddLinks && !utilService.objectsEqual(inputElements, elements)"
                mat-button
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="saveChanges()">
          <mat-icon>save</mat-icon>
        </button>
      </mat-form-field>
      <app-link-input *ngIf="useToAddLinks"
                      [linkObject]="linkObject"
                      [isDisableable]=false
                      (searchTextChanged)="onSearchTextChanged.emit($event)"
                      (linkElement)="onLinkElement.emit($event)">
      </app-link-input>
    </div>
  </div>
  <mat-chip-listbox *ngIf="!useToAddLinks">
    <mat-chip-option *ngFor="let element of inputElements" [removable]="allowEmpty || (!allowEmpty && inputElements.length > 1)" (removed)="removeElement(element)">
      {{ displayVariable ? element[displayVariable] : element }}
      <mat-icon *ngIf="allowEmpty || (!allowEmpty && inputElements.length > 1)" matChipRemove>cancel</mat-icon>
    </mat-chip-option>
  </mat-chip-listbox>
  <!-- Check if this duplicate code can be avoided -->
  <mat-chip-listbox *ngIf="useToAddLinks">
    <mat-chip-option *ngFor="let element of elements" [removable]="uiConfig.features.enableEditing && (allowEmpty || (!allowEmpty && elements.length > 1))" (removed)="removeElement(element)">
      {{ displayVariable ? element[displayVariable] : element }}
      <mat-icon *ngIf="allowEmpty || (!allowEmpty && elements.length > 1)" matChipRemove >cancel</mat-icon>
    </mat-chip-option>
  </mat-chip-listbox>
</div>
