<mat-card class="m-2">
  <div class="mx-3 mb-2">
    <app-table
      [data]=linkObject.linkedData
      [variableNames]=variableNames
      [externalLinkVariables]=externalLinkVariables
      [dataColumns]=tableColumns
      [allowAdd]=tableAddAllowed
      [allowDelete]="true"
      [emptyTableMessage]="'No linked cloud services found'"
      (elementClicked)="onElementClicked($event)"
      (urlClicked)="onUrlClicked($event)"
      (datalistConfigChanged)="onDatalistConfigChanged()"
      (submitDeleteElements)="unlinkCloudServices($event)"
      (addElement)="openLinkCloudServiceDialog()">
    </app-table>
  </div>
</mat-card>
