<mat-card class="m-2">
  <div class="mx-3 mb-2">
    <app-table
      [data]=displayedData
      [variableNames]=variableNames
      [dataColumns]=tableColumns
      [allowAdd]=true
      [allowDelete]=true
      [allowSort]=true
      [emptyTableMessage]="'No linked implementations found'"
      [pagination]=pagingInfo
      [paginatorConfig]=paginatorConfig
      (elementClicked)="onElementClicked($event)"
      (datalistConfigChanged)="onDatalistConfigChanged($event)"
      (submitDeleteElements)="unlinkImplementations($event)"
      (addElement)="openLinkImplementationDialog()"
      (pageChange)="onPageChanged($event)">
    </app-table>
  </div>
</mat-card>
