<mat-form-field>
  <mat-label class="input-label">{{ name }}</mat-label>
  <mat-select [(ngModel)]="inputValue">
    <mat-option *ngIf="includeEmpty" value="">&#8208; none &#8208;</mat-option>
    <mat-option *ngFor="let opt of choices" [value]="opt.value">{{
      opt.label
    }}</mat-option>
  </mat-select>

  <button
    *ngIf="inputValue !== value"
    mat-button
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="saveChanges(); $event.stopPropagation()">
    <mat-icon>save</mat-icon>
  </button>
</mat-form-field>
