@use '@angular/material' as mat;
@import "theme";

.edit-icon {
  cursor: pointer;
  user-select: none;
}

.input-label {
  color: rgba(0, 0, 0, 0.54);
}

::ng-deep .url-input {
  .mat-mdc-form-field {
    .mat-mdc-input-element {
      color: dodgerblue;
    }
    .mat-mdc-input-element:hover {
      color: mat.get-color-from-palette($qc-atlas-ui-primary);
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

mat-form-field {
  min-width: 100%;
  line-height: normal;
}

textarea.mat-mdc-input-element {
  padding: 0;
  margin: 0;
}
