<div>
  <mat-form-field>
    <mat-label class="input-label">{{ name }}</mat-label>
    <input
      *ngIf="!multiline"
      type="text"
      [(ngModel)]="inputValue"
      [pattern]="pattern"
      (ngModelChange)="inputChanged()"
      matInput
      (keydown.enter)="saveChanges()"
    />
    <textarea
      *ngIf="multiline"
      [(ngModel)]="inputValue"
      [pattern]="pattern"
      (ngModelChange)="inputChanged()"
      cdkTextareaAutosize
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="50"
      matInput
    ></textarea>
    <button
      *ngIf="inputValue !== value"
      mat-button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="saveChanges()"
    >
      <mat-icon>save</mat-icon>
    </button>
    <button
      *ngIf="isLink"
      matTooltip="Open link in new tab"
      matTooltipPosition="above"
      mat-button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="openLink()"
    >
      <mat-icon>open_in_browser</mat-icon>
    </button>
  </mat-form-field>
</div>
