<div [ngClass]="{'url-input': (isLink && inputValue)}">
  <mat-form-field>
    <mat-label class="input-label">{{ name }}</mat-label>
    <input
      *ngIf="!multiline"
      type="text"
      [(ngModel)]="inputValue"
      matInput
      (click)="(isLink && inputValue) ? openLink() : false"
      (keydown.enter)="saveChanges()"
    />
    <textarea
      *ngIf="multiline"
      [(ngModel)]="inputValue"
      [matAutosizeMaxRows]="maxLines"
      [matAutosizeMinRows]="2"
      [matTextareaAutosize]="true"
      matInput
    ></textarea>
    <button
      *ngIf="inputValue !== value"
      mat-button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="saveChanges()">
      <mat-icon>save</mat-icon>
    </button>
  </mat-form-field>
</div>
