<div>
  <mat-slide-toggle
    *ngIf="latexActive && multiline"
    [(ngModel)]="toggleLatex"
    (ngModelChange)="toggleLatexFlag()"
    style="float: right; font-size: x-small;"
    >{{
      toggleLatex ? 'Disable LaTeX rendering' : 'Enable LaTeX rendering'
    }}</mat-slide-toggle
  >

  <mat-form-field>
    <mat-label class="input-label">{{ name }}</mat-label>
    <input
      *ngIf="!multiline"
      type="text"
      [(ngModel)]="inputValue"
      [pattern]="pattern"
      (ngModelChange)="inputChanged()"
      matInput
      (keydown.enter)="saveChanges()"
    />
    <textarea
      *ngIf="multiline"
      [(ngModel)]="inputValue"
      [pattern]="pattern"
      (ngModelChange)="inputChanged()"
      [disabled]="toggleLatex"
      [matAutosizeMaxRows]="maxLines"
      [matAutosizeMinRows]="1"
      [matTextareaAutosize]="true"
      matInput
    ></textarea>
    <button
      *ngIf="
        (!toggleLatex && inputValue !== value) ||
        (!toggleLatex && value !== baseValue && baseValue !== undefined) ||
        (toggleLatex && packedLatexValue !== value)
      "
      mat-button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="saveChanges()"
    >
      <mat-icon>save</mat-icon>
    </button>
    <button
      *ngIf="isLink"
      matTooltip="Open link in new tab"
      matTooltipPosition="above"
      mat-button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="openLink()"
    >
      <mat-icon>open_in_browser</mat-icon>
    </button>
    <button
      *ngIf="toggleLatex"
      matTooltip="Open LaTeX Editor"
      matTooltipPosition="above"
      mat-button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="openLatexEditor()"
    >
      <mat-icon svgIcon="latex" style="background-size: 24px 24px;"></mat-icon>
    </button>
  </mat-form-field>
</div>
<div>
  <img
    *ngIf="urlToRenderedBlob"
    [src]="urlToRenderedBlob"
    style="display: block;"
  />
</div>
