// eslint-disable-next-line prefer-arrow/prefer-arrow-functions
(function (window) {
  window['env'] = window['env'] || {};

  // Environment variables
  window['env']['production'] = true;
  window['env']['nisqAnalyzer'] = "${NISQ_ANALYZER_HOST_NAME}" ? true : false;
  window['env']['QC_ATLAS_HOST_NAME'] = "${QC_ATLAS_HOST_NAME}";
  window['env']['NISQ_ANALYZER_HOST_NAME'] = "${NISQ_ANALYZER_HOST_NAME}";
  window['env']['PATTERN_ATLAS_HOST_NAME'] = "${PATTERN_ATLAS_HOST_NAME}";
  window['env']['PATTERN_ATLAS_UI_HOST_NAME'] = "${PATTERN_ATLAS_UI_HOST_NAME}";
  window['env']['LATEX_RENDERER_HOST_NAME'] ="${LATEX_RENDERER_HOST_NAME}";
  window['env']['QC_ATLAS_PORT'] = "${QC_ATLAS_PORT}";
  window['env']['NISQ_ANALYZER_PORT'] = "${NISQ_ANALYZER_PORT}";
  window['env']['PATTERN_ATLAS_PORT'] = "${PATTERN_ATLAS_PORT}";
  window['env']['PATTERN_ATLAS_UI_PORT'] = "${PATTERN_ATLAS_UI_PORT}";
  window['env']['LATEX_RENDERER_PORT'] ="${LATEX_RENDERER_PORT}";
})(this);

