<mat-card class="m-2">
  <div class="mx-3 mb-2">
    <app-table
      [data]=linkObject.linkedData
      [variableNames]=variableNames
      [dataColumns]=tableColumns
      [allowAdd]=tableAddAllowed
      [allowDelete]="true"
      [allowSort]=true
      [emptyTableMessage]="'No linked publications found'"
      (elementClicked)="onElementClicked($event)"
      (datalistConfigChanged)="onDatalistConfigChanged($event)"
      (submitDeleteElements)="unlinkPublications($event)"
      (addElement)="openLinkPublicationDialog()">
    </app-table>
  </div>
</mat-card>
