<mat-card class="m-2">
  <div class="mx-3 mb-2">
    <app-table
      [data]=linkedPublications
      [variableNames]=variableNames
      [dataColumns]=tableColumns
      [allowAdd]=tableAddAllowed
      [allowSelection]=true
      [emptyTableMessage]="'No linked publications found'"
      (elementClicked)="onElementClicked($event)"
      (datalistConfigChanged)="onDatalistConfigChanged($event)"
      (submitSelectedElements)="unlinkPublications($event)"
      (addElement)="openLinkDialog()">
    </app-table>
  </div>
</mat-card>
