<app-table class="related-algorithms-table"
           [data]=linkedAlgorithms
           [variableNames]=variableNames
           [dataColumns]=tableColumns
           [allowAdd]=true
           [allowSelection]=true
           [linkObject]=linkObject
           (elementClicked)="onElementClicked($event)"
           (datalistConfigChanged)="onDatalistConfigChanged($event)"
           (submitSelectedElements)="unlinkAlgorithms($event)"
           (linkConfigChange)="searchAlgorithms($event)"
           (linkElement)="onSelectToLink($event)">
</app-table>
