<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
    [attr.role]="hideNav ? 'dialog' : 'navigation'"
    [mode]="hideNav ? 'over' : 'side'"
    [opened]="hideNav === false">
    <mat-toolbar color="primary">
      <img (click)="goToHome()" src="../assets/logo.png" class="logo-img">
      <span (click)="goToHome()">QC Atlas</span>
    </mat-toolbar>
    <nav>
      <a class="nav-link" [routerLink]="'./algorithms'" routerLinkActive="active">
        Algorithms
      </a>
      <a class="nav-link" [routerLink]="'./qai-apps'" routerLinkActive="active">
        qAI Apps
      </a>
      <a class="nav-link" [routerLink]="'./publications'" routerLinkActive="active">
        Publications
      </a>
      <mat-expansion-panel class="flat-panel" [expanded]="activeGroup === 'libraries'">
        <mat-expansion-panel-header>
          <mat-panel-title class="nav-panel-header">
            Libraries
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a class="nav-link" [routerLink]="'./libraries'" routerLinkActive="active">
          Libraries
        </a>
        <a class="nav-link" [routerLink]="'./slr'" routerLinkActive="active">
          Systematic Literature Review
        </a>
      </mat-expansion-panel>
      <mat-expansion-panel class="flat-panel" [expanded]="activeGroup === 'execution'">
        <mat-expansion-panel-header>
          <mat-panel-title class="nav-panel-header">
            Execution Environments
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a class="nav-link" [routerLink]="'./execution-environments/search'" routerLinkActive="active">
          Search
        </a>
        <a class="nav-link" [routerLink]="'./execution-environments/software-platforms'"
            routerLinkActive="active">
          Software Platforms
        </a>
        <a class="nav-link" [routerLink]="'./execution-environments/cloud-services'"
            routerLinkActive="active">
          Cloud Services
        </a>
        <a class="nav-link"  [routerLink]="'./execution-environments/compute-resources'"
            routerLinkActive="active">
          Compute Resources
        </a>
      </mat-expansion-panel>
      <mat-expansion-panel class="flat-panel" [expanded]="activeGroup === 'components'">
        <mat-expansion-panel-header>
          <mat-panel-title class="nav-panel-header">
            Manage Components
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a class="nav-link" [routerLink]="'./problem-types'" routerLinkActive="active">
          Problem Types
        </a>
        <a class="nav-link" [routerLink]="'./application-areas'" routerLinkActive="active">
          Application Areas
        </a>
        <a class="nav-link" [routerLink]="'./algorithm-relation-types'"
            routerLinkActive="active">
          Algorithm Relation Types
        </a>
        <a *ngIf="configData.configuration.features.patternAtlas"
            class="nav-link" [routerLink]="'./pattern-relation-types'"
            routerLinkActive="active">
          Pattern Relation Types
        </a>
        <a class="nav-link" [routerLink]="'./compute-resource-property-types'"
            routerLinkActive="active">
          Compute Resource Property Types
        </a>
      </mat-expansion-panel>

      <!-- TODO add external links in navigation -->

      <a *ngIf="configData.configuration.features.showSettings"
          class="nav-link" [routerLink]="'./feature-toggling'" routerLinkActive="active">
        Settings
      </a>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button
                class="settings-button"
                mat-icon-button
                type="Login"
                color="accent"
                (click)="login()"
        >
          <mat-icon *ngIf="!bearerTokenSet">account_box</mat-icon>
          <mat-icon *ngIf="bearerTokenSet">logout</mat-icon>
        </button>
        <button
          type="button"
          aria-label="Toggle sidenav"
          class="menu-button"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="hideNav">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
