@import "theme";

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.logo-img {
  height: 50px;
  margin: 5px;
}
.settings-button{
  margin-left: auto;
  margin-right: 0;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav {
  margin-block-start: 0.5rem;
}

.nav-link {
  min-height: 2rem;
  color: initial;
  font-size: 16px;
  font-weight: 300;
}

.nav-link:focus, .nav-link:active, .nav-link.active {
  background: rgba(mat-color($qc-atlas-ui-primary), 0.20);
}

.nav-link:hover {
  background: rgba(mat-color($qc-atlas-ui-primary), 0.10);
}

.mat-expansion-panel.flat-panel {
  box-shadow: none;
  border-radius: 0px;
}

// TODO: check styles after angular upgrade!
::ng-deep .mat-expansion-panel .mat-expansion-panel-header {
  padding-inline-start: 16px;
}

::ng-deep .mat-expansion-panel .mat-expansion-panel-body {
  padding-inline: 0px;
}

.nav-panel-header {
  font-weight: 300;
}

mat-expansion-panel .nav-link {
  padding-inline-start: 24px;
}


.mat-drawer-side {
  border: none;
}

.menu-button {
  outline: 0 !important;
}
