<mdb-card class="m-2">
  <div class="mx-3 mb-2">
    <app-table [data]=tableObjects
               [variableNames]=variableNames
               [dataColumns]=tableColumns
               [allowAdd]=true
               [allowEdit]=true
               [allowDelete]="true"
               [emptyTableMessage]="'No related algorithms found'"
               [pagination]=pagingInfo
               [paginatorConfig]=paginatorConfig
               (addElement)="onAddElement()"
               (submitDeleteElements)="onDeleteElements($event)"
               (datalistConfigChanged)="onDatalistConfigChanged($event)"
               (pageChange)="onPageChanged($event)"
               (elementClicked)="onElementClicked($event)"
               (updateClicked)="onUpdateClicked($event)">
    </app-table>
  </div>
</mdb-card>
