<div class="">
  <div *ngIf="!qpu" class="d-flex align-content-center justify-content-center">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="qpu" class="row">
    <div class="col-xl-4 col-lg-12">
      <mat-card class="m-3 mr-1">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>
              <h3>
                <span title="Provider: IBMQ">{{ qpu.provider }}</span>
                {{ qpu.backendName }}
              </h3>
            </mat-card-title>
            <mat-card-subtitle>{{ qpu.description }}</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>

        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <mat-icon mat-list-icon>update</mat-icon>
              <div mat-line>
                <strong
                  title="Online since {{ qpu.onlineDate | date: 'yy/MM/dd' }}"
                  >{{
                    qpu.properties.lastUpdateDate | date: 'yy/MM/dd | HH:mm:ss'
                  }}</strong
                >
              </div>
              <div mat-line><small>Last Calibration Update</small></div>
            </mat-list-item>
            <mat-list-item *ngFor="let prop of qpuProperties">
              <mat-icon mat-list-icon>{{ prop.icon }}</mat-icon>
              <div mat-line>
                <strong>{{ prop.value }}</strong>
              </div>
              <div mat-line>
                <small>{{ prop.label }}</small>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-xl-8 col-lg-12">
      <mat-card class="m-3 ml-1">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>
              <h3>Qraph</h3>
            </mat-card-title>
            <mat-card-subtitle
              >
              <strong>{{ qpu.backendName }}</strong> Qubit Map · <strong>{{ qpu.nQubits }}</strong> Quibits</mat-card-subtitle
            >
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content class="full-width">
          <div *ngIf="!qGraphEdges || !qGraphNodes">
            <mat-spinner></mat-spinner>
          </div>
          <ngx-graph
            *ngIf="qGraphEdges && qGraphNodes"
            class="chart-container p-1"
            layout="dagre"
            [draggingEnabled]="false"
            [panningEnabled]="true"
            [enableZoom]="false"
            [autoZoom]="true"
            [autoCenter]="false"
            [showMiniMap]="false"
            [links]="qGraphEdges"
            [nodes]="qGraphNodes"
            [center$]="center$"
            [update$]="update$"
            [zoomToFit$]="zoomToFit$"
          >
            <ng-template #nodeTemplate let-node>
              <svg:g
                class="node"
                ngx-tooltip
                [tooltipPlacement]="'top'"
                [tooltipType]="'tooltip'"
                [tooltipTitle]="node.label"
              >
                <circle
                  [attr.r]="node.dimension.width"
                  [attr.cx]="node.dimension.width"
                  [attr.cy]="node.dimension.width"
                  [attr.fill]="node.data.color"
                  class="ng-star-inserted"
                ></circle>

                <svg:text
                  alignment-baseline="central"
                  font-size="x-large"
                  font-weight="bold"
                  [attr.x]="node.dimension.height / 3"
                  [attr.y]="node.dimension.height / 2"
                >
                  {{ node.label }}
                </svg:text>
              </svg:g>
            </ng-template>
            -->
          </ngx-graph>
        </mat-card-content>
        <mat-card-actions>
          <button
            class="m-1"
            (click)="fitGraph()"
            color="accent"
            mat-flat-button
          >
            fit
          </button>
          <button
            class="m-1"
            (click)="centerGraph()"
            color="accent"
            mat-flat-button
          >
            center
          </button>
          <button
            class="m-1"
            (click)="updateGraph()"
            color="warn"
            hidden
            disabled
            mat-flat-button
          >
            update
          </button>
          last update:
          {{ qpu.properties.lastUpdateDate | date: 'MM/dd | HH:mm:ss' }}
        </mat-card-actions>
      </mat-card>
    </div>

    <!-- <mat-card class="m-3 mr-1" hidden *ngIf="qGraphNodes">
      <mat-card-content>
        {{ qGraphNodes.length }} | {{ qGraphNodesS }}
      </mat-card-content>
      <mat-card-content>
        {{ qGraphEdges.length }} | {{ qGraphEdgesS }}
      </mat-card-content>
    </mat-card> -->
  </div>

  <!-- -->

  <div class="row">
    <div class="col-xl-5 col-lg-12">
      <mat-card class="m-3 mr-1">
        <mat-card-header>
          <mat-card-title>Basis Gates</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-accordion>
            <mat-expansion-panel *ngFor="let bgate of gates" hideToggle>
              <mat-expansion-panel-header>
                <mat-card-title class="text-primary text-monospace">{{
                  bgate.name
                }}</mat-card-title>
                <mat-panel-title class="p-2">
                  <strong class="text-monospace">{{ bgate.qasmDef }}</strong>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-panel-description>
                <div>todo: <strong>more data</strong></div>
              </mat-panel-description>
              <mat-panel-description>
                <div>
                  qasmDef: <strong>{{ bgate.qasmDef }}</strong>
                </div>
              </mat-panel-description>
              <mat-panel-description>
                <div>qubits: <strong>...</strong></div>
              </mat-panel-description>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-xl-7 col-lg-12">
      <mat-card class="m-3 ml-1">
        <mat-card-header>
          <mat-card-title>Gates</mat-card-title>

          <mat-form-field>
            <mat-label>Filter</mat-label>
            <input
              matInput
              (keyup)="applyFilter($event)"
              placeholder="Ex. cx_"
              #input
            />
          </mat-form-field>
        </mat-card-header>
        <mat-card-content>
          <table
            mat-table
            [dataSource]="gateDataSource"
            class="mat-elevation-z8"
            matSort
            matPaginator
            class=""
          >
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
              <td mat-cell *matCellDef="let gate">
                {{ gate.date | date: 'yy/MM/dd | HH:mm' }}
              </td>
            </ng-container>
            <ng-container matColumnDef="basisGate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Basis Gate
              </th>
              <td mat-cell *matCellDef="let gate">{{ gate.basisGate }}</td>
            </ng-container>
            <ng-container matColumnDef="gate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Gate</th>
              <td mat-cell *matCellDef="let gate">{{ gate.gate }}</td>
            </ng-container>
            <ng-container matColumnDef="gateError">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Gate Error
              </th>
              <td mat-cell *matCellDef="let gate">{{ gate.gateError }}</td>
            </ng-container>
            <ng-container matColumnDef="gateLength">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Gate Length
              </th>
              <td mat-cell *matCellDef="let gate">{{ gate.gateLength }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="gateTableHeader"></tr>
            <tr
              mat-row
              *matRowDef="let gateDataSource; columns: gateTableHeader"
            ></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="5">
                No data matching the filter "{{ input.value }}"
              </td>
            </tr>
          </table>
          <mat-paginator
            [pageSizeOptions]="[5, 15, 50, 100]"
            [pageSize]="15"
            showFirstLastButtons
          ></mat-paginator>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
´
