<div class="">
  <div *ngIf="!qpu" class="d-flex align-content-center justify-content-center">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="qpu" class="row">
    <div class="col-xl-5 col-lg-11">
      <mat-card class="m-5">
        <mat-card-header>
          <mat-card-title
            >{{ qpu.backendName }}
            <span class="small">{{ qpu.backendVersion }}</span></mat-card-title
          >
          <mat-card-subtitle
            >{{ qpu.provider }} | {{ qpu.description }}</mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-content> </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="col-xl-5">
    <mat-card-title>Basis Gates</mat-card-title>
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel *ngFor="let bgate of gates" hideToggle>
        <mat-expansion-panel-header class="center center-text align-items-center centered-text">
          <mat-panel-title class="center center-text align-items-center centered-text">
            <strong>{{ bgate.name }}</strong>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description>
          <div>
            Parameters: <strong>{{ bgate.parameters }}</strong>
          </div>
        </mat-panel-description>
        <mat-panel-description>
          <div>
            qasmDef: <strong>{{ bgate.qasmDef }}</strong>
          </div>
        </mat-panel-description>
        <mat-panel-description>
          <div>
            qubits:  <strong>...</strong>
          </div>
        </mat-panel-description>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="col-xl-5 col-lg-11">
    <mat-card-title>Gates</mat-card-title>

    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. cx_"
        #input
      />
    </mat-form-field>

    <table
      mat-table
      [dataSource]="gateDataSource"
      class="mat-elevation-z8"
      matSort
      matPaginator
    >
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let gate">
          {{ gate.date | date: 'yy/MM/dd | HH:mm' }}
        </td>
      </ng-container>
      <ng-container matColumnDef="basisGate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Basis Gate</th>
        <td mat-cell *matCellDef="let gate">{{ gate.basisGate }}</td>
      </ng-container>
      <ng-container matColumnDef="gate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Gate</th>
        <td mat-cell *matCellDef="let gate">{{ gate.gate }}</td>
      </ng-container>
      <ng-container matColumnDef="gateError">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Gate Error</th>
        <td mat-cell *matCellDef="let gate">{{ gate.gateError }}</td>
      </ng-container>
      <ng-container matColumnDef="gateLength">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Gate Length</th>
        <td mat-cell *matCellDef="let gate">{{ gate.gateLength }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="gateTableHeader"></tr>
      <tr
        mat-row
        *matRowDef="let gateDataSource; columns: gateTableHeader"
      ></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="5">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 15, 50, 100]"
      [pageSize]="15"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>

<!-- <table mat-table [dataSource]="gates" class="mat-elevation-z8 m-5">

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="parameters">
      <th mat-header-cell *matHeaderCellDef> Parameters </th>
      <td mat-cell *matCellDef="let element"> {{element.parameters[0]}} <span *ngFor="let param of element.parameters">{{element.parameters[1]}}</span> </td>
      <td mat-cell *matCellDef="let element">  </td>
    </ng-container>

    <ng-container matColumnDef="qasmDef">
      <th mat-header-cell *matHeaderCellDef> qasmDef </th>
      <td mat-cell *matCellDef="let element"> {{element.qasmDef}} </td>
    </ng-container>

  </table>





  <table mat-table [dataSource]="gateProps" class="mat-elevation-z8 m-5">

    <tr mat-header-row *matHeaderRowDef="gatePropsColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: gatePropsColumns;"></tr>

    <ng-container matColumnDef="gate">
      <th mat-header-cell *matHeaderCellDef> Gate </th>
      <td mat-cell *matCellDef="let element"> {{element.gate}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="parameters">
      <th mat-header-cell *matHeaderCellDef> Parameters </th>
      <td mat-cell *matCellDef="let element"> {{element.parameters}} </td>
    </ng-container>

    <ng-container matColumnDef="qubits">
      <th mat-header-cell *matHeaderCellDef> qubits </th>
      <td mat-cell *matCellDef="let element"> {{element.qubits}} </td>
    </ng-container>

  </table> -->

<!-- <table mat-table
       [dataSource]="valuesToShow" multiTemplateDataRows
       class="mat-elevation-z8">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
      <td mat-cell *matCellDef="let element"> {{element[column] | json }} </td>
    </ng-container>

    Expanded Content Column - The detail row is made up of this one column that spans across all columns
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="qprov-gates-element-detail"
            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="qprov-gates-element-diagram">
            <div class="qprov-gates-element-id"> {{element.id}} </div>
            <div class="qprov-gates-element-name"> {{element.name}} </div>
            <div class="qprov-gates-element-parameters"> {{element.parameters[0].date | date}} </div>
            <div class="qprov-gates-element-qasmDef"> {{element.qasmDef}} </div>
          </div>
          <div class="qprov-gates-element-description">
            Hibernate: select parameters0_.gate_id as gate_id1_4_0_, parameters0_.parameters as paramete2_4_0_ from gate_parameters parameters0_ where parameters0_.gate_id=?
            <span class="qprov-gates-element-description-attribution"> -- Wikipedia </span>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
        class="qprov-gates-element-row"
        [class.qprov-gates-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="qprov-gates-detail-row"></tr>
  </table> -->
