<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
    <form [formGroup]="qpuSelectionFrom">
        <mat-form-field class="input-field">
            <mat-label>Vendor</mat-label>
            <mat-select formControlName="vendor" (selectionChange)="onVendorChanged($event.value)" required>
                <mat-option [value]="'IBMQ'">IBMQ</mat-option>
                <mat-option [value]="'Google-Cirq'">Google Cirq</mat-option>
                <mat-option [value]="'Amazon-AWS'">Amazon AWS</mat-option>
                <mat-option [value]="'Microsoft-Azure'">Microsoft Azure</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="input-field">
            <mat-label>Token</mat-label>
            <input type="password" id="token" formControlName="token" matInput>
        </mat-form-field>
        <span>Select preferences:</span><br>
        <mat-checkbox color="primary" [checked]="shortWaitingTimeEnabled"
                      (change)="setWaitingTimeEnabled($event.checked)">Short Waiting Time
        </mat-checkbox>
        <mat-checkbox color="primary" [checked]="stableExecutionResultsEnabled"
                      (change)="setStableExecutionResultsEnabled($event.checked)">Precise Execution
            Results
        </mat-checkbox>
        <mat-expansion-panel *ngIf="stableExecutionResultsEnabled"
                             (opened)="advancedSettingsOpen = true"
                             (closed)="advancedSettingsOpen = false"
                             class="advancedSettings">

            <mat-expansion-panel-header>
                <mat-panel-title>
                    Advanced settings
                </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-form-field class="input-field">
                <mat-label>Prediction Algorithm to estimate Execution Result Precision</mat-label>
                <mat-select formControlName="predictionAlgorithm"
                            (selectionChange)="setPredictionAlgorithm($event.value)">
                    <mat-option [value]="'extra_trees_regressor'">Extra Trees Regressor</mat-option>
                    <mat-option [value]="'gradient_boosting_regressor'">Gradient Boostig Regressor</mat-option>
                    <mat-option [value]="'random_forest_regressor'">Random Forest Regressor</mat-option>
                    <mat-option [value]="'decision_tree_regressor'">Decision Tree Regressor</mat-option>
                    <mat-option [value]="'hist_gradient_boosting_regressor'">Hist Gradient Boosting Regressor
                    </mat-option>
                    <mat-option [value]="'nu_svr'">Nu SVR</mat-option>
                    <mat-option [value]="'k_neighbors_regressor'">K Neighbors Regressor</mat-option>
                    <mat-option [value]="'theil_sen_regressor'">Theil Sen Regressor</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="input-field">
                <mat-label>Meta Optimizer</mat-label>
                <mat-select formControlName="metaOptimizer"
                            (selectionChange)="setMetaOptimizer($event.value)">
                    <mat-option [value]="'ada_boost_regressor'">Ada Boost Regressor</mat-option>
                    <mat-option [value]="'bagging_regressor'">Bagging Regressor</mat-option>
                    <mat-option [value]="'none'">-</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-expansion-panel>
        <br *ngIf="shortWaitingTimeEnabled && stableExecutionResultsEnabled">
        <span *ngIf="shortWaitingTimeEnabled && stableExecutionResultsEnabled">Select Importance Ratio:</span>
        <br>
        <div *ngIf="shortWaitingTimeEnabled && stableExecutionResultsEnabled" class="center">
            <span class="aligned-with-slider">Short Waiting</span>
            <mat-slider
                    color="primary"
                    formControlName="queueImportanceRatio"
                    class="lift-slider"
                    thumbLabel
                    [displayWith]="formatLabel"
                    tickInterval="10"
                    step="10"
                    min="0"
                    max="100"
                    aria-label="units"
                    (change)="setQueueImportanceRatio($event)"
            >
            </mat-slider>
            <span class="aligned-with-slider">Precise Results</span>
        </div>


        <div *ngIf="shortWaitingTimeEnabled || stableExecutionResultsEnabled">
            <span>Select the number of compilation results:</span><br>
            <div *ngIf="!disableDefiningMaximumNumberOfCircuits">
                <mat-form-field class="input-field">
                    <input
                            matInput
                            type="number"
                            min="1"
                            [placeholder]="'Maximum number of compilation results'"
                            formControlName="maxNumberOfCompiledCircuits"
                            [ngModel]="maxNumberOfCompiledCircuitsDialog"
                            (ngModelChange)="setMaxNumberOfCompiledCircuits($event)"
                            [disabled]="disableDefiningMaximumNumberOfCircuits"
                    />
                </mat-form-field>
            </div>
            <mat-checkbox color="primary" [checked]="disableDefiningMaximumNumberOfCircuits"
                          (change)="setMaximumNumberofCompilationResultsSelected($event.checked)">Or compute <b>all</b> possible compilation results
            </mat-checkbox>
        </div>

        <br>
        <mat-label>Select SDKs to be used for compilation:</mat-label>
        <mat-form-field appearance="none" class="input-field">
            <input matInput [hidden]="true">
            <mat-checkbox *ngFor="let compiler of compilers.controls; index as i" class="example-margin"
                          formArrayName="compilers"
                          [checked]="checkIfCompilerSelected(compiler.value)"
                          (change)="updateCompilerSelection(compiler.value, $event.checked)"
                          color="primary">
                {{compiler.value}}
            </mat-checkbox>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [disabled]="isRequiredDataMissing() || ! checkIfCompilersPresent()" [mat-dialog-close]="data">Ok
    </button>
</div>

